
<div class="row">
<div class="nested-fields">
	<div class="col-lg-6">
		<%= f.input :description, label: 'Resposta' %>
	</div>
	<div class="col-lg-6">
		<%= link_to_remove_association "Remover", f, class: "btn btn-danger" %>	
	</div>
</div>
</div>


