


<p id="notice" style="color: red;"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            Enquete
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                        <%= simple_nested_form_for @quiz, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|%>
                          
                            	<%= f.input :title, label: 'Descrição' %>

                            	<hr>
                            
	                            <%=  f.simple_fields_for :answers do |answer| %>
									<%=  render 'answer_fields', f: answer %>
								<% end %>


							<div class="links">
								<%=  link_to_add_association ' Add Resposta ', f, :answers, class: "btn btn-success" %>
							</div>
                        	
                        	<br>
                         
                            <%= f.button :submit, :class => 'btn-primary' %>
                            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), quizzes_path, :class => 'btn btn-default' %>
                            
                        <% end %>
                    </div>
                   
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



