
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              Enquetes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">


          <div class="table-responsive col-lg-12">
              <% @quizzes.each do |quiz| %>
                
                <table class="table table-striped table-bordered table-hover" >
                  <thead>
                        <tr>
                           <tr>
                              <th><%= quiz.title %></th>
                              <th>
                                <div class="btn-group pull-right ">
                                    <%= link_to t('.edit', :default => t("Editar")), edit_quiz_path(quiz), :class => 'btn btn-default btn-sm' %>
                                    <%= link_to t('.destroy', :default => t("Excluir")), quiz_path(quiz), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) }, :class => 'btn btn-sm btn-danger' %>
                                  </div>
                                </th>
                            </tr>
                        </tr>
                  </thead>
                  <tbody>

                  <% @answer = Answer.where(quiz_id: quiz.id) %> 
                    <% @total = Answer.where(quiz_id: quiz.id).sum('votes') %> 
                      
                      
                    <% @answer.each do |answer| %>
                      <% if @total != 0 %>
                        <% @percent = answer.votes * 100 / @total  %>
                      <% else %>
                        <% @percent = 0  %>
                      <% end %>
                      
                    <tr>
                      <td>
                        <%= answer.description %>
                      </td>
                      <td>
                        <%= answer.votes %> votos | <%= @percent %>% 
                      </td>
                    </tr>
                   <% end %>  
                   </tbody>
                </table>
              <% end %>    
          </div>
          <!-- /.table-responsive -->
          <div class="col-lg-12">
            <%= link_to t('.new', :default => t("Criar Enquete")), new_quiz_path, :class => 'btn btn-primary pull-right' %>
          </div>
        </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->



