<%= simple_form_for(@system_setting) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :allow_guest_self_sign_up %>
    <%= f.input :terms_and_conditions %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
