<h1>Listing System Settings</h1>

<table>
  <thead>
    <tr>
      <th>Allow guest self sign up</th>
      <th>Terms and conditions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_settings.each do |system_setting| %>
      <tr>
        <td><%= system_setting.allow_guest_self_sign_up %></td>
        <td><%= system_setting.terms_and_conditions %></td>
        <td><%= link_to 'Show', system_setting %></td>
        <td><%= link_to 'Edit', edit_system_setting_path(system_setting) %></td>
        <td><%= link_to 'Destroy', system_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System setting', new_system_setting_path %>
