<style>
  .tab-pane{
    padding-top: 1em;
  }
</style>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
          Configurações
      </header>

      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#geral" aria-controls="geral" role="tab" data-toggle="tab">Geral</a></li>
          <li role="presentation"><a href="#fomulario" aria-controls="fomulario" role="tab" data-toggle="tab">Formulário de Cadastro</a></li>
          <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Tela de Login</a></li>
          <li role="presentation"><a href="#working-time" aria-controls="working-time" role="tab" data-toggle="tab">Horário de funcionamento</a></li>
          <li role="presentation" ><a href="#unifi" aria-controls="unifi" role="tab" data-toggle="tab">Unifi Controller</a></li>
        </ul>

        <%= simple_form_for(@system_setting) do |f| %>
        <%= f.error_notification %>
        <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="geral">
              <div class="form-inputs">
                <%= f.input :terms_and_conditions %>
                <%= f.input :allow_facebook_signup %>
                <%= f.input :facebook_checking %>
                <%= f.input :allow_guest_self_sign_up %>
                <%= f.input :place_id_to_facebook_checkin %>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fomulario">
              <div class="form-inputs">
                <div class="form-group">
                  <label>CPF</label><br>
                  <%= f.input :cpf_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :cpf_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
                <div class="form-group">
                  <label>Data de nascimento</label><br>
                  <%= f.input :birthday_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :birthday_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
                <div class="form-group">
                  <label>Email</label><br>
                  <%= f.input :email_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :email_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
                <div class="form-group">
                  <label>Endereço</label><br>
                  <%= f.input :address_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :address_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
                <div class="form-group">
                  <label>Gênero</label><br>
                  <%= f.input :gender_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :gender_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
                <div class="form-group">
                  <label>Nome</label><br>
                  <%= f.input :name_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :name_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
                <div class="form-group">
                  <label>Telefone</label><br>
                  <%= f.input :telephone_visible, label: 'Visível', wrapper_html: { class: 'checkbox-inline'} %>
                  <%= f.input :telephone_required, label: 'Obrigatório', wrapper_html: { class: 'checkbox-inline'} %>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="login">
              <%= f.input :logo, as: :file %>
              <strong>Atual</strong>
              <%= image_tag @system_setting.logo, class: 'img-responsive', width: 240 %>
              <hr>
              <%= f.input :background, as: :file %>
              <strong>Atual</strong>
              <%= image_tag @system_setting.background, class: 'img-responsive', width: 240 %>
            </div>
            <div role="tabpanel" class="tab-pane" id="working-time">
              <p>O dia começa às 00:00 e termina às 23:59.</p>
              <div class="form-inputs">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Domingo</h3></div>
                    <%= f.input :sunday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: {  value: f.object.sunday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                    <%= f.input :sunday_closes_at, as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.sunday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Segunda</h3></div>
                    <%= f.input :monday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.monday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                    <%= f.input :monday_closes_at, as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.monday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Terça</h3></div>
                    <%= f.input :tuesday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.tuesday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                    <%= f.input :tuesday_closes_at, as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.tuesday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Quarta</h3></div>
                    <%= f.input :wednesday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.wednesday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                    <%= f.input :wednesday_closes_at, as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.wednesday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Quinta</h3></div>
                    <%= f.input :thursday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.thursday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                    <%= f.input :thursday_closes_at, as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: {  value: f.object.thursday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Sexta</h3></div>
                    <%= f.input :friday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.friday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                    <%= f.input :friday_closes_at, as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: {  value: f.object.friday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12"><h3>Sábado</h3></div>
                    <%= f.input :saturday_opens_at, as: :string, label:'Abre', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.saturday_opens_at.try(:strftime, ("%H:%M")), class: 'time_picker'} %>
                    <%= f.input :saturday_closes_at,  as: :string, label:'Fecha', wrapper_html: { class: 'col-xs-6 col-sm-4'}, input_html: { value: f.object.saturday_closes_at.try(:strftime, ("%H:%M")), class: 'time_picker' } %>
                  </div>
                </div>

              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="unifi">
              <div class="row">
                <div class="form-inputs">
                  <%= f.input :host, wrapper_html: { class: 'col-xs-12 col-sm-6 col-md-4'} %>
                  <%= f.input :port, wrapper_html: { class: 'col-xs-12 col-sm-6 col-md-4'} %>
                  <%= f.input :site, wrapper_html: { class: 'col-xs-12 col-sm-6 col-md-4'} %>
                  <%= f.input :user, wrapper_html: { class: 'col-xs-12 col-sm-6 col-md-4'} %>
                  <%= f.input :password, wrapper_html: { class: 'col-xs-12 col-sm-6 col-md-4'} %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit 'Salvar', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      </section>
  </div>
</div>



  <script>

  document.addEventListener("DOMContentLoaded", function() {

    ['gender','name', 'address','cpf','birthday','email'].forEach((item) => {

      document.querySelector("#system_setting_"+item+"_required").addEventListener( 'change', function() {
        if(this.checked) {
          document.querySelector("#system_setting_"+item+"_visible").checked = true
        }
      });

      document.querySelector("#system_setting_"+item+"_visible").addEventListener( 'change', function() {
        if(!this.checked) {
          document.querySelector("#system_setting_"+item+"_required").checked = false
        }
      });

    })

  });
  $(document).ready(function() {
    $(".time_picker").mask("99:99");
  });

  // $(document).ready(function () {
  //     $('.time-picker').datetimepicker({
  //         format: 'LT',
  //         locale: 'pt-BR'
  //     });
  // });
</script>
