<p>
  <strong>Allow guest self sign up:</strong>
  <%= @system_setting.allow_guest_self_sign_up %>
</p>

<p>
  <strong>Terms and conditions:</strong>
  <%= @system_setting.terms_and_conditions %>
</p>

<%= link_to 'Edit', edit_system_setting_path(@system_setting) %> |
<%= link_to 'Back', system_settings_path %>
