<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <%- model_class = Admin -%>
                <%=t '.title', :default => [:'helpers.titles.new', '%{model}'], :model => model_class.model_name.human.titleize %>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

					 <%= simple_form_for(@admin) do |f| %>


                            <%= f.input :name %>
                            <%= f.input :phone %>
                            <%= f.input :cpf_cnpj %>
                            <%= f.input :email %>
                            <%= f.input :password %>

                            

                            <%= f.input :role, as: :radio_buttons, collection: [['cliente', ' Cliente'], ['administrador', ' Administrador']], label_method: :second, value_method: :first %>

                           

                            <%= f.button :submit, :class => 'btn-primary' %>
                          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                                        admins_path, :class => 'btn btn-default' %>

					<% end %>

					</div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

