<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <%- model_class = Admin -%>
              Clientes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">


          <div class="table-responsive col-lg-12">

              <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                  <thead>
                      <tr>
                         <tr>
                            <th><%= model_class.human_attribute_name(:id) %></th>
                            <th>Nome</th>
                            <th><%= model_class.human_attribute_name(:email) %></th>
                            <th>Créditos</th>

                            <th><%=t '.actions', :default => t("Ação") %></th>
                          </tr>
                      </tr>
                  </thead>
                  <tbody>
                     <% @admins.each do |admin| %>
                        <tr>
                          <td><%= link_to admin.id, admin_path(admin) %></td>
                          <td><%= admin.name %></td>
                          <td><%= admin.email %></td>
                          <td><%= admin.credit %></td>

                          <td>
                          <div class="btn-group pull-right ">
                            <%= link_to 'Adicionar créditos', new_credit_path(admin_id: admin.id), class: 'btn btn-success btn-sm' %>
                            <%= link_to 'Histórico créditos', credit_history_admin_path(admin), class: 'btn btn-default btn-sm' %>
                            <%= link_to t('.edit', :default => t("Editar")), edit_admin_path(admin), :class => 'btn btn-default btn-sm' %>
                            <%= link_to t('.destroy', :default => t("Excluir")),
                                        admin_path(admin),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                                        :class => 'btn btn-sm btn-danger' %>


                          </div>
                          </td>
                        </tr>
                      <% end %>

                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
          <div class="col-lg-12">
            <%= link_to t('.new', :default => t("Criar cliente")),
            new_client_admins_path,
            :class => 'btn btn-primary pull-right' %>
          </div>
        </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->


