<div class="row">
  <div class="col-xs-12">

    <section class="panel">
      <div class="panel-heading">
        Histórico de lançamento de crédito - <%= @admin.name %>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" id="dynamic-table">
              <thead>
                <tr>
                  <th>Quantidade</th>
                  <th>Data</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @admin.credits.each do |credit| %>
                  <tr>
                    <td><%= credit.amount %></td>
                    <td><%= credit.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                    <td><%= link_to 'Excluir', credit, method: :delete, data: { confirm: 'A quantidade de créditos será descrescida do saldo do cliente. Esta ação não pode ser desfeita. Tem certeza que deseja excluir?' }, class: 'btn btn-danger btn-sm' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12">
            <%= link_to 'Editar Campanha', edit_campaign_path(@admin), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

