

<p id="notice" style="color: red;"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            Ponto de Acesso
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

                     
                        <%= simple_form_for @router, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|%>
                          
                          
                            <%= f.input :ip %>
                            <%= f.input :port %>
                            <%= f.input :ip_out %>
                            <%= f.input :port_out %>
                            <%= f.input :location %>
                            <%= f.input :username %>
                            <%= f.input :password %>
                           
                         

                            <%= f.button :submit, :class => 'btn-primary' %>
                            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), routers_path, :class => 'btn btn-default' %>
                            
                        <% end %>
                    </div>
                   
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



