<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              Pontos de Acesso
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">


          <div class="table-responsive col-lg-12">

              <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                  <thead>
                      <tr>
                         <tr>
                            <th>IP</th>
                            <th>IP Hotspot</th>
                            <th>Porta</th>
                            <th>Localização</th>
                            <th>Usuário</th>
                            <th>Senha</th>


                            <th><%=t '.actions', :default => t("Ação") %></th>
                          </tr>
                      </tr>
                  </thead>
                  <tbody>
                     <% @routers.each do |router| %>
                        <tr>
                          <td><%= router.ip %></td>
                          <td><%= router.ip_out %></td>
                          <td><%= router.port %></td>
                          <td><%= router.location %></td>
                          <td><%= router.username %></td>
                          <td><%= router.password %></td>

                          <td>
                          <div class="btn-group pull-right ">
                            <%= link_to t('.edit', :default => t("Editar")), edit_router_path(router), :class => 'btn btn-default btn-sm' %>
                            <%= link_to t('.destroy', :default => t("Excluir")),
                                        router_path(router),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                                        :class => 'btn btn-sm btn-danger' %>


                          </div>
                          </td>
                        </tr>
                      <% end %>

                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
          <div class="col-lg-12">
            <%= link_to t('.new', :default => t("Criar Ponto de Acesso")),
            new_router_path,
            :class => 'btn btn-primary pull-right' %>
          </div>
        </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->


