<p>
  <strong>Ip:</strong>
  <%= @router.ip %>
</p>

<p>
  <strong>Port:</strong>
  <%= @router.port %>
</p>

<p>
  <strong>Location:</strong>
  <%= @router.location %>
</p>

<p>
  <strong>Username:</strong>
  <%= @router.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @router.password %>
</p>

<%= link_to 'Edit', edit_router_path(@router) %> |
<%= link_to 'Back', routers_path %>
