<p id="notice" style="color: red;"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <%- model_class = User -%>
                <%=t '.title', :default => [:'helpers.titles.new', '%{model}'], :model => model_class.model_name.human.titleize %>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">


                        <%= simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|%>


                            <%= f.input :name %>
                            <%= f.input :email %>
                            <%= f.input :telephone %>
                            <%= f.input :cpf %>
                            <%= f.input :date, as: :string %>

                            <%= f.input :password %>
                            <div class="form-group profile optional user_profile">
                              <label class="col-sm-3 control-label profile" for="user_telephone">Perfil</label>
                              <div class="col-sm-9">
                                  <%- #f.select(:profile, @perfis.map { |value| [ value[:name], value[:name]]}, {}, { :class => 'form-control' }) %>
                              </div>
                            </div>
                            <%= f.button :submit, :class => 'btn-primary' %>
                            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default' %>

                        <% end %>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
