<script type="text/javascript">
    function checkAll(check_all) {

        var inputs = check_all.form.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            // Only work on checkboxes, and NOT on the "Check All" checkbox
            if (inputs[i].type == "checkbox" && inputs[i].name != check_all.name) {
                if (check_all.checked == true) {
                    inputs[i].checked = true;
                } else {
                    inputs[i].checked = false;
                }
            }
        }
    }
</script>

<!-- /.row -->

<%= form_tag destroy_multiple_users_path, method: :delete do %>
  <div id="filterrific_results">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">

            <%- model_class = User -%>
            <%= t '.title', :default => model_class.model_name.human.pluralize.titleize %>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
              <tr>
                <th><%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll(this);") %></th>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
                <th><%= model_class.human_attribute_name(:telephone) %></th>
                
           

                <th><%= t '.actions', :default => t("Ação") %></th>
              </tr>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= check_box_tag "users[]", user.try(:id) %></td>
                  <td><%= link_to user.id, user_path(user), remote: true %></td>


                  <td><%= user.try(:name) %></td>
                  <td><%= user.try(:email) %></td>
                  <td><%= user.try(:telephone) %></td>
              
                  
                    <td>
                      <div class="btn-group pull-right ">
                        <%= link_to 'Ver', user_path(user), remote: true, :class => 'btn btn-primary btn-sm' %>
                        <%= link_to t('.edit', :default => t("Editar")), edit_user_path(user), :class => 'btn btn-warning btn-sm' %>
                        <%= link_to t('.destroy', :default => t("Excluir")),
                                    user_path(user),
                                    :method => :delete,
                                    :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?'))},
                                    :class => 'btn btn-sm btn-danger' %>


                      </div>

                    </td>
                    </tr>
              <% end %>

              </tbody>
            </table>
            <div class="col-lg-12">
              <% #link_to t('.new', :default => t("Criar usuário")), new_user_path, :class => 'btn btn-primary pull-right' %>
            </div><%= paginate @users, :theme => 'twitter-bootstrap-3' %>
          </div>


<% end %>

</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-6 -->
</div>
<!-- /.row -->




