

 <div class="modal fade" id="user-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="user-modal">Usuário</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal tasi-form" >

                    

                                  <div class="form-group row">
                                      
                                      <div class="col-lg-12">

                                          <%= donut_chart(@graph) unless @graph.empty? %>

                                          

                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-lg-2 col-sm-2 control-label">ID</label>
                                      <div class="col-lg-10">

                                          <input type="text" class="form-control" placeholder="" value="<%= user.id %>" disabled>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Nome</label>
                                      <div class="col-sm-10">
                                          <p class="form-control-static"><%= user.name %></p> 
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Email</label>
                                      <div class="col-sm-10">
                                          <p class="form-control-static"><%= user.email %></p> 
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Telefone</label>
                                      <div class="col-sm-10">
                                          <p class="form-control-static"><%= user.telephone %></p>
                                          
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Data de Nascimento</label>
                                      <div class="col-sm-10">
                                          <p class="form-control-static"><%= user.date %></p>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">CPF</label>
                                      <div class="col-sm-10">
                                         <p class="form-control-static"> <%= user.cpf %> </p>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Gênero</label>
                                      <div class="col-sm-10">
                                         <p class="form-control-static"> <%= user.gender %> </p>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Recorrência</label>
                                      <div class="col-sm-10">
                                        <button type="button" class="btn btn-success"><%= fa_icon "user" %> <%= @requests_total %> </button> 
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-2 col-sm-2 control-label">Dispositivos</label>
                                      <div class="col-sm-10">
                                         
                                         <p><button type="button" class="btn btn-info"><%= user.mac %> </button> </p>
                                        <% @macs = Mac.where(user_id: user.id)
                                        @macs.each do |mac| %>
                                          <p><button type="button" class="btn btn-info"><%= mac.mac %> </button> </p>

                                        <% end %> 
                                        
 
                                      </div>
                                  </div>
                                  
                              </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  
              </div>
          </div>
      </div>
  </div>