

<!-- page title -->
<div class="page-title">
    <h2>Clientes Ativos</h2>
    <p>Lista de clientes navegando no hotspot</p>

</div>                        
<!-- ./page title -->



<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" >
       
            <!-- /.panel-heading -->
          <div class="panel-body">
          
         
          <div class="table-responsive col-lg-12" >

            <div class="page-title">
                  <h2>Vouchers</h2>
              </div>  


              <div class="adv-table">
              <table  class="display table table-bordered table-striped" id="dynamic-table">
                  <thead>
                      <tr>
                         <tr>
                            <!-- <th>ID</th> -->
                            <th>Rede</th>
                            <th>IP</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>MAC</th>
                            <th>Tempo de Conexão</th>
                            <th>Ação</th>
                           
                          </tr>
                      </tr>
                  </thead>
                  <tbody>
                  <% @usuarios.each do |hotspot_user| %>

                    <%- if hotspot_user[:server] == "visitantes" %>
                    <tr>
                      <td><%= hotspot_user[:server] %></td>
                      <td><%= hotspot_user[:address] %></td>
                      <td><%= User.find_by(mac: hotspot_user[:macaddress]).try(:name) %></td>
                      <td><%= hotspot_user[:user] %></td>
                      <td><%= hotspot_user[:macaddress] %></td>
                      <td><%= hotspot_user[:uptime] %></td>
                      <td><%= link_to "Desconectar", "remove?username=#{hotspot_user[:macaddress]}", :class => 'btn btn-danger' %> </td>
                    </tr>

                    <% end %>

                  <% end %>

                  </tbody>
              </table>

            </div>

             
          </div>
          
        </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" >
       
            <!-- /.panel-heading -->
          <div class="panel-body">
          
         
          <div class="table-responsive col-lg-12" >


              <div class="adv-table">


              <div class="page-title">
                  <h2>Corporativo e Hóspedes</h2>
              </div>   

              <table class="table table-striped table-bordered table-hover" id="dynamic-table2">
                  <thead>
                      <tr>
                         <tr>
                            <!-- <th>ID</th> -->
                            <th>Rede</th>
                            <th>IP</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>MAC</th>
                            <th>Tempo de Conexão</th>
                            <th>Ação</th>
                           
                          </tr>
                      </tr>
                  </thead>
                  <tbody>
                  <% @usuarios.each do |hotspot_user| %>

                    <%- if hotspot_user[:server] != "visitantes" %>
                    <tr>
                      <td><%= hotspot_user[:server] %></td>
                      <td><%= hotspot_user[:address] %></td>
                      <td><%= User.find_by(email: hotspot_user[:user]).try(:name) %></td>
                      <td><%= hotspot_user[:user] %></td>
                      <td><%= hotspot_user[:macaddress] %></td>
                      <td><%= hotspot_user[:uptime] %></td>
                      <td><%= link_to "Desconectar", "remove?username=#{hotspot_user[:macaddress]}", :class => 'btn btn-danger' %> </td>
                    </tr>

                    <% end %>

                  <% end %>

                  </tbody>
              </table>

            </div>

             
          </div>
          
        </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->