<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% flash.each do |key, value| %>
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-warning" aria-hidden="true"></span>
          <a href="#" data-dismiss="alert" class="close">×</a>
          <span class="sr-only">Erro:</span>
          <%= value %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Resetar senha</h1>
      <%= form_tag change_password_users_path, method: :post do %>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= label_tag 'CPF' %>
            <%= text_field_tag :cpf, '', class: 'form-control' %>
          </div>
          <div class="form-group col-xs-12">
            <%= label_tag 'Data de nascimento' %>
            <%= text_field_tag :date, '', class: 'form-control', id: 'date' %>
          </div>
          <div class="form-group col-xs-12">
            <%= label_tag 'Nova Senha' %>
            <%= password_field_tag :new_password, '', class: 'form-control' %>
          </div>
          <div class="col-xs-3">
            <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $( function() {
    $("#date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  });
</script>
