<style>
  #login-logo{
    margin-bottom: 1em;
    padding: 1em;
  }

  #container-login{
    background-image: url(<%= image_url (@system_setting.background.present? ? @system_setting.background : 'bg.png') %>);
    height: 100vh;
    background-size: cover;
  }
</style>
<div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-danger" role="alert">
        <span class="fa fa-warning" aria-hidden="true"></span>
        <a href="#" data-dismiss="alert" class="close">×</a>
        <span class="sr-only">Erro:</span>
        <%= value %>
      </div>
    <% end %>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <%- model_class = User -%>
                    <%=t '.title', :default => [:'helpers.titles.new', '%{model}'], :model => model_class.model_name.human.titleize %>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="fa fa-warning" aria-hidden="true"></span>
                                <a href="#" data-dismiss="alert" class="close">×</a>
                                <span class="sr-only"></span>
                                Você precisa cadastrar este quipamento: <strong><%= session[:mac] %></strong>
                              </div>


                          <%= image_tag (@system_setting.logo.present? ? @system_setting.logo : 'dotspot.png'), class: 'img-responsive center-block', id: 'login-logo' %>
                            <%= simple_form_for @user, html: { class: 'form-horizontal', onsubmit: 'return validateForm();' }, wrapper: :horizontal_form, :url => create_guest_users_url, :method => :post do |f|%>

                                <%= f.input :name, placeholder: '', required: true if @system_setting.name_visible? %>
                                <%= f.input :email if @system_setting.email_visible? %>
                                <%= f.input :telephone if @system_setting.telephone_visible? %>
                                <%= f.input :gender, collection: ['Masculino', 'Feminino'] if @system_setting.gender_visible? %>
                                <%= f.input :date, as: :string if @system_setting.birthday_visible? %>
                                <%= f.input :cpf, input_html: { type: 'number'}, label: 'CPF (somente números)' if @system_setting.cpf_visible? %>
                                <%= f.input :address if @system_setting.address_visible? %>
                                <%= f.input :number if @system_setting.address_visible? %>
                                <%= f.input :city if @system_setting.address_visible? %>
                                <%= f.input :district if @system_setting.address_visible? %>
                                <%= f.input :state if @system_setting.address_visible? %>

                                <%- # f.input :password, hint: "Deve ter 6 ou mais caracteres e conter pelo menos 1 número e 1 letra " %>

                                <%= f.button :submit, 'Cadastrar e Conectar', :class => 'btn btn-lg btn-primary', id:'submit_btn'%>
                                <hr>
                             
                                <%#= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default' %>

                            <% end %>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>

<script>
  $( function() {
    $("#user_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  });


  function validateForm(){

    var validade_msg = "";

    <% if @system_setting.cpf_required? %>

    if(!CPF.validate($("#user_cpf").val())){
      validade_msg += "· O CPF digitado\n";
    }

    <% end %>

    <% if @system_setting.email_required? %>

    if(!validateEmail($("#user_email").val())){
      validade_msg += "· O email digitado\n";
    }

    <% end %>

    // if(!validatePassword()){
    //   validade_msg += "· A senha digitada\n";
    // }

    if(validade_msg.length > 0){
      alert("A validação falhou, varifique: \n\n" + validade_msg);
      return false;
    }else{
      return true;
    }
  }

  function validateEmail(email){
    var re = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
    regex_valid =  re.test(email);

    if(regex_valid && isNotTempmail(email)){
      return true
    }else{
      return false
    }

  }

  // function validatePassword(){
  //   if($('#user_password').val().length >= 6){
  //     return true
  //   }
  //   return false
  // }

  function isNotTempmail(email){
    var validation = true;
    var tempList = [
      'emailtemporario.com.br',
      'getairmail.com',
      'guerrillamail.com',
      'meltmail.com',
      '10minutemail.com',
      'jetable.org',
      'spammotel.com',
      'mailexpire.com',
      'mytrashmail.com',
      'maillinator.com',
      'temp-mail.org',
      'yopmail.com',
      'fakeinbox.com',
      'sharklasers.com',
      'dropmail.me',
      'dispostable.com',
      'mailnesia.com',
      '20minutemail.com',
      'deadaddress.com',
      'emailsensei.com',
      'filzmail.com',
      'incognomail.com',
      'koszmail.pl',
      'mailcatch.com',
      'noclickmail.com',
      'spamfree24.org',
      'trashmail.ws',
      'stop-my-spam.com'
    ]

    tempList.forEach((item) => {
      if(email.includes(item)) validation = false;
    })

    return validation
  }

</script>
