<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Buscar:
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control medium'
    ) %>
  </div>
  <br>
  <br>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>


<%= render(
  partial: 'list',
  locals: { users: @users }
) %>


<div id='user-content'></div>

<%= link_to 'Exportar todos os contatos em excel', reports_registered_users_path(format: 'xlsx'), class: 'btn btn-success btn-rounded'%>
