


<!-- page title -->
<div class="page-title">
    <h2>MAC Liberados</h2>
    <p>Lista de mac navegando no hotspot</p>

</div>
<!-- ./page title -->

<div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default" id="filterrific_results">

          <!-- /.panel-heading -->
        <div class="panel-body">



          <form class="form-inline">
          <div class="form-group mb-2">
            <label for="mac">Endereço MAC: </label>
            <input type="text" class="form-control" id="mac" value="">
          </div>
          <div class="form-group mb-2">
            <label for="comment"> Nome: </label>
            <input type="text" class="form-control" id="comment" value="">
          </div>
          <div class="form-group mb-2">
            <label for="status">Status:</label>
            <select class="form-control" id="status">
              <option value="bypassed">Liberar</option>
              <option value="blocked">Bloquear</option>
            </select>
          </div>


          <a type="button" onclick="cadMac();" class="btn btn-primary mb-2">Cadastrar</a>

          <p>Selecione os routers em que deseja cadastrar:</p>
          <div class="form-group col-md-12">
            <ul>
              <% Router.all.each do |router| %>
                  <li>
                    <%= check_box_tag 'router_ids[]', router.id, checked = false, class: 'cb_routers' %>
                    <%= router.location %>
                    <span class="cb_router_icons">
                    </span>
                  </li>
              <% end %>
            </ul>
          </div>
        </form>



        </div>
      </div>
    </div>
</div>


<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default" >

            <!-- /.panel-heading -->
          <div class="panel-body">


          <div class="table-responsive col-lg-12" >


              <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                  <thead>
                      <tr>
                         <tr>
                            <!-- <th>ID</th> -->
                            <th>HOTSPOT</th>
                            <th>NOME</th>
                            <th>MAC</th>
                            <th>STATUS</th>
                            <th>Ação</th>

                          </tr>
                      </tr>
                  </thead>
                  <tbody>
                     <% @usuarios.each do |hotspot_user| %>
                   <tr>
                    <td>
                      <%= hotspot_user[:server] %>
                    </td>
                    <td><%= hotspot_user[:comment] %></td>
                    <td><%= hotspot_user[:macaddress] %></td>
                    <td><%- if hotspot_user[:type] == "bypassed" %><span class="btn btn-success btn-rounded">Liberado</span><% else %><span class="btn btn-danger btn-rounded">Bloqueado</span><% end %></td>

                    <td><%= link_to "Excluir", "removemac?mac=#{hotspot_user[:macaddress]}&router_location=#{hotspot_user[:router]}", :class => 'btn btn-danger', data: { confirm: "Confirma a exclusão do MAC #{hotspot_user[:macaddress]} do router #{hotspot_user[:router]}?"} %> </td>


                  </tr>
                <% end %>


                  </tbody>
              </table>

          </div>

        </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<script type="text/javascript">

  function cadMac(){
      // Adicionar ao array os routers selecionados
      var routers = $(".cb_routers:checked").map(function(){
        return $(this);
      }).get()

      if(routers.length > 0) {
        var mac = $("#mac").val();
        var comment = $("#comment").val();
        var status = $("#status").val();
        // $("#mac").addClass("spinner");
        // $("#comment").addClass("spinner");

        routers.forEach((router) => {
          router.parent().find('.cb_router_icons').html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>')
          $.post( "/users/addmac", {mac: mac, comment: comment, status: status, router_id: router.val()})
            .done(function(data){
              console.log(data)
              if (data == 'ok'){
                router.parent().find('.cb_router_icons').html('<i class="fa fa-check" aria-hidden="true" style="color: green"></i>')
              }else{
                router.parent().find('.cb_router_icons').html('<i class="fa fa-times" aria-hidden="true" style="color: red"></i>')
              }

            });
        })
      }
      else{
        alert("Selecione os Routers em que deseja aplicar a ação!")
      }
  }
</script>
