


<!-- page title -->
<div class="page-title">
    <h2>Perfis</h2>
    <p>Lista de perfis</p>

</div>
<!-- ./page title -->



<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" >

            <!-- /.panel-heading -->
          <div class="panel-body">


          <div class="table-responsive col-lg-12" >


              <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                  <thead>
                      <tr>
                         <tr>
                            <!-- <th>ID</th> -->
                            <th>Router</th>
                            <th>Nome</th>
                            <th>Tempo</th>
                            <th>Qtd de Usuarios</th>
                            <th>Velocidade</th>
                            <th>Ação</th>

                          </tr>
                      </tr>
                  </thead>
                  <tbody>
                     <% @perfis.each do |profile| %>
                   <tr>
                    <td><%= profile[:router] %></td>
                    <td><%= profile[:name] %></td>
                    <td><%= profile[:sessiontimeout] %></td>
                    <td><%= profile[:sharedusers] %></td>
                    <td><%= profile[:ratelimit] %></td>

                    <td><%= link_to "Excluir", "removeprofile?name=#{profile[:name]}&router_location=#{profile[:router]}", :class => 'btn btn-danger', data: { confirm: "Confirma excluir o perfil #{profile[:name]} do router #{profile[:router]}?"} %> </td>


                  </tr>
                <% end %>


                  </tbody>
              </table>

              <div class="row">

                  <div class="col-lg-12">
                    <hr>
                    <h2>Adicionar perfil</h2>
                    <div class="panel panel-default" id="filterrific_results">

                        <!-- /.panel-heading -->
                      <div class="panel-body">

                      <div class="row">
                        <form>
                              <div class="form-group col-md-3">
                                <label for="inputEmail4">Nome</label>
                                <input type="text" class="form-control" id="name" placeholder="Nome" required>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="sessiontimeout">Tempo de Sessão</label>
                                <input type="text" class="form-control" id="sessiontimeout" placeholder="Tempo de Sessão Ex. 24h:00m:00s" required>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="sharedusers">QTD Simultaneos</label>
                                <input type="number" class="form-control" id="sharedusers" placeholder="Quantidade" required>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="ratelimit">Velocidades</label>
                                 <input type="text" class="form-control" id="ratelimit" placeholder="Velocidade Ex.: 1m/1m" required>
                              </div>


                            <p>Selecione os routers em que deseja cadastrar:</p>
                            <div class="form-group col-md-12">
                              <ul>
                                <% Router.all.each do |router| %>
                                    <li>
                                      <%= check_box_tag 'router_ids[]', router.id, checked = false, class: 'cb_routers' %>
                                      <%= router.location %>
                                      <span class="cb_router_icons">
                                      </span>
                                    </li>
                                <% end %>
                              </ul>
                            </div>

                          <button type="button" onclick="cadProfile();" class="btn btn-primary mb-2">Cadastrar</button>
                        </form>

                      </div>






                      </div>
                    </div>
                  </div>
              </div>


          </div>

        </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->

<script type="text/javascript">


  $(document).ready(function() {
       $("#sessiontimeout").mask("99:99:99");

  });

  function cadProfile(){

      // Adicionar ao array os routers selecionados
      var routers = $(".cb_routers:checked").map(function(){
        return $(this);
      }).get();

      if(routers.length > 0) {
        var name = $("#name").val();
        var sessiontimeout = $("#sessiontimeout").val();
        var sharedusers = $("#sharedusers").val();
        var ratelimit = $("#ratelimit").val();

        routers.forEach((router) => {
          router.parent().find('.cb_router_icons').html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>')
          $.post( "/users/addprofile", {name: name, sessiontimeout: sessiontimeout, sharedusers: sharedusers, ratelimit: ratelimit, router_id: router.val() })
            .done(function(data){

              if (data == 'ok'){
                router.parent().find('.cb_router_icons').html('<i class="fa fa-check" aria-hidden="true" style="color: green"></i>')
                setTimeout(function(){ window.location = "/users/listprofile" }, 2000);
              }else{
                router.parent().find('.cb_router_icons').html('<i class="fa fa-times" aria-hidden="true" style="color: red"></i>')
                console.log(data);
              }

            });
        })
      }
      else{
        alert("Selecione os Routers em que deseja aplicar a ação!")
      }

  }

</script>
