

 <div class="modal fade " id="user-modal"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <span class="badge bg-success"><%= @clients.count %></span> Clientes Conectados em <strong> <%= @device[0]['name'] %> </strong>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body col-lg-12">
                  

                <div class="row">
                   <div class="col-lg-12">
                  
                        <section class="panel">
                          
                            <table class="table table-striped table-sortable" id="dynamic-table-users">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome do Host</th>
                                    <th>Usuário</th>
                                    <th>IP</th>
                                    <th>MAC</th>
                                    <th>Marca</th>
                                    <th>SSID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @clients.each_with_index do |client, i| %>
                                <tr>
                                    <td>
                                      <%= i+1 %>
                                    </td>
                                    <td>
                                      <% if client['hostname'].nil? %>
                                        Indisponível
                                      <% else %>
                                        <%= client['hostname'] %>
                                      <% end %>
                                    </td>
                                    <td>
                                      <% if User.find_by(mac: client['mac'].upcase).present? %>
                                        <%= User.find_by(mac: client['mac'].upcase).name %>
                                      <% else %>
                                         Não autenticou ainda
                                      <% end %>
                                    </td>
                                    <td>
                                      <%= client['ip'] %>    
                                    </td>
                                    <td>
                                      <%= client['mac'] %>
                                    </td>
                                    <td>
                                       <%= client['oui'] %>
                                    </td>
                                   <td>
                                       <%= client['essid'] %>
                                    </td>
                                </tr>
                                <% end %>
                               
                                </tbody>
                            </table>
                        </section>
                      </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  
              </div>
          </div>
      </div>
  </div>

 