

 <!--state overview end-->
  <div class="row">
    <div class="col-lg-12">
          <!--work progress start-->
          <section class="panel">
              <div class="panel-body progress-panel">
                  <div class="task-progress">
                      <h1>UNIFI</h1>
                      <p>Listagem de Rádios</p>
                  </div>
              </div>
                <table class="table table-bordered table-striped table-sortable" id="list-aps-table">
                    <thead>
                        <tr>
                            <th>STATUS</th>
                            <th>LOCAL</th>
                           
                            <th>ONLINE</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% @devices.each_with_index do |device, i| %>

                          <tr>
                            <td>
                                <% if device['_uptime'].blank? %>
                                  <span class="btn btn-danger btn-rounded">Offline</span>
                                <% else%>
                                  <% if device["stat"].nil? %>
                                    <span class="btn btn-warning btn-rounded">Necessita atenção</span>
                                  <% else %>
                                    <a  href='home/clients?apmac=<%= device["mac"] %>'><span class="btn btn-success btn-rounded">Online</span></a>
                                  <% end %>
                                  
                                <% end %>
                            </td>
                            <td>
                              <% if !device['_uptime'].blank? && !device["stat"].nil? %>
                              <a data-remote="true" class="apmac" href='home/clients?apmac=<%= device["mac"] %>'><%= device["name"] %></a><div id="loading"> </div>
                              <% else %>
                                <%= device["name"] %>
                              <% end %>

                              
                            </td>
                             
                            <td><span class="btn btn-primary btn-rounded"><%= device['num_sta'] %></span></td>
                          </tr>

                        <% end %>

                    </tbody>
                </table>

          </section>
          <!--work progress end-->
      </div>
</div>



