 <div class="row">
                 <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Top 10 usuários
                          </header>
                          <table class="table table-hover">
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Nome</th>
                                  <th>Email</th>
                                  <th>Recorrência</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% @recorrentes.each_with_index do |recorrente, i| %>
                              <tr>
                                  <td><%= i+1 %>º</td>

                                  <td><%= link_to recorrente.name, user_path(recorrente), remote: true %></td>
                                  <td><%= recorrente.try(:email) %></td>
                                  <td>
                                    <span class="badge bg-success">
                                      <%= recorrente.try(:connections) %>
                                    </span>
                                  </td>
                              </tr>
                              <% end %>
                             
                              </tbody>
                          </table>
                      </section>
                    </div>
              </div>