

<div class="row">
   <div class="col-lg-12">
  
        <section class="panel">
            <header class="panel-heading">
                <span class="badge bg-success"><%= @clients.count %></span> Clientes Conectados em <strong> <%= @device[0]['name'] %> </strong>
            </header>
            <table class="table table-striped table-sortable" id="dynamic-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome do Host</th>
                    <th>Usuário</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>Marca</th>
                    <th>SSID</th>
                </tr>
                </thead>
                <tbody>
                <% @clients.each_with_index do |client, i| %>
                <tr>
                    <td>
                      <%= i+1 %>
                    </td>
                    <td>
                      <% if client['hostname'].nil? %>
                        Indisponível
                      <% else %>
                        <%= client['hostname'] %>
                      <% end %>
                    </td>
                    <td>
                      <% if !Mac.find_by(mac: client['mac']).nil? %>
                        <%= Mac.find_by(mac: client['mac']).user.name %>
                      <% else %>
                         Não autenticou ainda
                      <% end %>
                    </td>
                    <td>
                      <%= client['ip'] %>    
                    </td>
                    <td>
                      <%= client['mac'] %>
                    </td>
                    <td>
                       <%= client['oui'] %>
                    </td>
                    <td>
                       <%= client['essid'] %>
                    </td>
                </tr>
                <% end %>
               
                </tbody>
            </table>
        </section>
      </div>
</div>