
$('#user-content').html("<%= j render 'clients_modal', clients: @clients %>");
$('#user-modal').modal('show');

toastr.clear();


 $('#dynamic-table-users').dataTable( {

         "pagingType": "first_last_numbers",
         "pageLength": 100,
         "language": {
            "lengthMenu": "_MENU_",
            "search":         "Buscar: ",
            "zeroRecords": "Nenhum registro encontrado",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum registro encontrado",
            "infoFiltered": "(em _MAX_ registros)",
            "paginate": {
                "first":      "Primeiro",
                "last":       "Último",
                "next":       "Prox",
                "previous":   "Ant"
            }
        }
    } );


