<!--state overview start-->
<div class="row state-overview">

  <div class="col-lg-6 col-sm-6">
    <section class="panel">
      <div class="symbol yellow">
        <i class="fa fa-user"></i>
      </div>
      <div class="value">
        <h1 class="counter">
          <%= @users_count %>
        </h1>
        <p>Total de Usuários Capturados</p>
      </div>
    </section>
  </div>

  <div class="col-lg-6 col-sm-6">
    <section class="panel">
      <div class="symbol blue">
        <i class="fa fa-eye"></i>
      </div>
      <div class="value">
        <h1 class="counter">
          <%= @campanhas_views %>
        </h1>
        <p>Total de Visualizações</p>
      </div>
    </section>
  </div>

  <div class="col-lg-6 col-sm-6">
    <section class="panel">
      <div class="symbol blue">
        <i class="fa fa-user"></i>
      </div>
      <div class="value">
        <h1 class="counter">
          <%= @users_today %>
        </h1>
        <p>Usuários Capturados Hoje</p>
      </div>
    </section>
  </div>

  <div class="col-lg-6 col-sm-6">
    <section class="panel">
      <div class="symbol yellow">
        <i class="fa fa-eye"></i>
      </div>
      <div class="value">
        <h1 class="counter">
          <%= @campanhas_views_today %>
        </h1>
        <p>Visualizações de Hoje</p>
      </div>
    </section>
  </div>
  

</div>
             
<div class="row">
   <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Top 10 usuários
            </header>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Recorrência</th>
                </tr>
                </thead>
                <tbody>
                

                  <% @requests_group.first(10).each_with_index do |recorrente, i| %>
                <tr>  
                    <% if recorrente[0] > 0 %>
                         <% if User.find(recorrente[0]).present? %>
                         <% user = User.find(recorrente[0]) %>
                        <td><%= i %>º</td>
                        
                         <td><%= link_to user.name, user_path(user), remote: true %></td>
                        <td><%= user.email %></td>
                        <td><span class="badge bg-success"><%= recorrente[1] %></span></td>
                        

                        <% else %>
                             Não autenticou ainda
                        <% end %>

                    <% end %>
                   
                </tr>
                <% end %>
               
                </tbody>
            </table>
        </section>
      </div>
</div>
                                       
             
<% if params[:location].nil? || params[:location].empty? %>         
<div id="list-aps">
  <%= render_async home_list_aps_path, event_name: "aps-loaded", retry_count: 3, error_event_name: 'list-aps-error-event' do %>
    <div class="loader"></div> Conectando aos pontos de acessos...
  <% end %>
</div>
<% end %>  

<div id="user-content"></div>






