<%= simple_form_for(@request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mac %>
    <%= f.input :location %>
    <%= f.input :ssid %>
    <%= f.input :platform %>
    <%= f.input :device %>
    <%= f.input :browser %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
