<div class="row">
  <div class="col-xs-12">
    <!--work progress start-->
    <section class="panel">
      <div class="panel-heading">
        Requisições
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Horário</th>
              <th>MAC</th>
              <th>Ponto de Acesso</th>
              <th>SSID da rede</th>
              <th>Platforma</th>
              <th>Dispositivo</th>
              <th>Navegador</th>
              <th>Campanha</th>
            </tr>
          </thead>

          <tbody>
            <% @requests.each do |request| %>
              <tr>
                <% user = User.where(mac: request.mac).last %>
                <td><%= link_to user.name, user unless user.nil? %></td>
                <td><%= request.created_at.strftime("%d/%m/%m %H:%M:%S") %></td>
                <td><%= request.mac %></td>
                <td><%= request.location %></td>
                <td><%= request.ssid %></td>
                <td><%= request.platform %></td>
                <td><%= request.device %></td>
                <td><%= request.browser %></td>
                <td><%= link_to request.campaign.name, request.campaign unless request.campaign.nil? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <span class="pull-right">
          <%= paginate @requests %>
        </span>
      </div>
    </section>
  </div>
</div>
