<p>
  <strong>Mac:</strong>
  <%= @request.mac %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request.location %>
</p>

<p>
  <strong>Ssid:</strong>
  <%= @request.ssid %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @request.platform %>
</p>

<p>
  <strong>Device:</strong>
  <%= @request.device %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @request.browser %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
