<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Edição de Chamado
      </div>
      <div class="panel-body">
        <%= simple_form_for(@technical_call) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.association :user, disabled: true %>
            <%= f.input :description %>
            <%= f.input :status, collection: TechnicalCall.statuses.keys.map {|key| [key.titleize, key]} %>
          </div>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
