<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Chamados
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Descrição</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @technical_calls.each do |technical_call| %>
              <tr>
                <td><%= technical_call.user.name unless technical_call.user.blank? %></td>
                <td><%= technical_call.description %></td>
                <td><%= technical_call.status.titleize %></td>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Exibir', technical_call, class: 'btn btn-default' %>
                    <%= link_to 'Editar', edit_technical_call_path(technical_call), class: 'btn btn-default' %>
                    <%= link_to 'Excluir', technical_call, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Abrir Chamado', new_technical_call_path, class: 'btn btn-primary' %>
      </div>
    </section>
  </div>
</div>
