<div class="cotainer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Abrir Chamado</h1>
      <%= simple_form_for(@technical_call) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.association :user, disabled: true if session[:mac]%>
          <%= f.input :description %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
