<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Chamado técnico de <%= @technical_call.user.try(:name) %>
      </div>
      <div class="panel-body">
        <p>
          <strong>Usuário:</strong>
          <%= @technical_call.user.try(:name) %>
        </p>

        <p>
          <strong>Descrição:</strong>
          <%= @technical_call.description %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @technical_call.status %>
        </p>

        <%= link_to 'Editar', edit_technical_call_path(@technical_call), class: 'btn btn-primary' %>
      </div>
    </section>
  </div>
</div>
