
<div class="container"  >

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html=> { class: 'form-signin' } ) do |f| %>

        <h2 class="form-signin-heading">Área restrita</h2>
       
        <div class="login-wrap">
         
    <% flash.each do |key, value| %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <a href="#" data-dismiss="alert" class="close">×</a>
        <span class="sr-only">Erro:</span>
        <%= value %>
      </div>
    <% end %>
      <%= f.input :email, required: false, autofocus: true, :class => "span4" %>
      <%= f.input :password, required: false, :class => "span4" %>
      <%= f.button :submit, "Entrar", :class =>  "btn btn-info btn-block"  %>
    <br>
      
      </div>
  <% end %>   
</div>


    


