<%= simple_form_for(@credit) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="form-inputs">
    <%= f.input :admin_id, collection: Admin.cliente, wrapper_html: { class: 'col-xs-12 cm-md-6'} %>
    <%= f.input :amount, wrapper_html: { class: 'col-xs-12 cm-md-6'}%>
  </div>
</div>

  <div class="form-actions">
    <%= f.submit 'Lançar', class: 'btn btn-primary' %>
  </div>
<% end %>
