<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Créditos
      </div>
      <div class="panel-body progress-panel">

        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Quantidade</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @credits.each do |credit| %>
              <tr>
                <td><%= credit.admin.name %></td>
                <td><%= credit.amount %></td>
                <td><%= link_to 'Show', credit %></td>
                <td><%= link_to 'Edit', edit_credit_path(credit) %></td>
                <td><%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Lançar Crédito', new_credit_path, class: 'btn btn-primary' %>
      </div>
      <br>
    </section>
  </div>
</div>
