<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @credit.admin %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @credit.amount %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
