<style>
  #login-logo{
    margin-bottom: 1em;
    padding: 1em;
  }

  #container-login{
    background-image: url(<%= image_url (@system_setting.background.present? ? @system_setting.background : 'bg.png') %>);
    height: 100vh;
    background-size: cover;
    }
</style>


<div class="row form-signin" style="margin-bottom: -80px; padding-bottom: 30px; padding-top: 10px; text-align: center; margin-top: 10px;">
    <h5 class="col-lg-12" style="text-align: center;">Olá! Você está conectado a rede <%= params[:ssid] %></h5>
    <%= image_tag (@system_setting.logo.present? ? @system_setting.logo : 'dotspot.png'), class: 'img-responsive center-block', id: 'login-logo' %>
</div>


<form class="form-signin" id="guest" action="">

        <h2 class="form-signin-heading">DOTSPOT</h2>
        <div class="login-wrap">

          <div id="login">
            <div id="alert" style="display:none;" class="alert alert-block alert-danger fade in">
             <div id="msg"><strong>Ops!</strong> Algo deu errado, tente novamente mais tarde.</div>
            </div>

            <input type="number" id="cpf" name="cpf" data-original-title="CPF" data-content="EX. 12312312312" data-placement="top" data-trigger="hover"  class="form-control" placeholder="DIGITE SEU CPF" maxlength="11" autofocus required>


          <div class="form-group">
            <br>
          <label for="sel1">Data de Nascimento:</label>
          <span class="help-block"></span>
            <select class="form-control" style="width: 25%; margin-right: 5%; float: left;" id="dia">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>

            </select>
            <select class="form-control" style="width: 40%; float: left; margin-right: 5%;" id="mes">
              <option value="01">Janeiro</option>
              <option value="02">Fevereiro</option>
              <option value="03">Março</option>
              <option value="04">Abril</option>
              <option value="05">Maio</option>
              <option value="06">Junho</option>
              <option value="07">Julho</option>
              <option value="08">Agosto</option>
              <option value="09">Setembro</option>
              <option value="10">Outubro</option>
              <option value="11">Novembro</option>
              <option value="12">Dezembro</option>
            </select>
            <select class="form-control"  name="ano" id="ano" style="width: 25%;  float: left;"></select>
            <span class="help-block"></span>
          </div>
            <br>
          </div>

          <span class="help-block"></span>
          <br>


            <div id="button2">

            <button class="btn btn-lg btn-login btn-block"  onclick="auth();" id="pulsate-crazy"  type="button" >CONECTAR</button>

            </div>
          <!--   <p>Você ainda não tem usuário?</p>
             <button class="btn btn-lg btn-warning btn-block"   id="create"  type="button">CADASTRAR</button>
            -->

<!--             <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Precisa de Ajuda?</a>
                </span>
            </label> -->
            <br>
          </div>
        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">TERMO DE UTILIZAÇÃO</h4>
                      </div>
                      <div class="modal-body">
                          <p>TERMO.</p>

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>

                      </div>
                  </div>
              </div>
          </div>

      </form>

      <script type="text/javascript">


        $(document).bind('keypress', function(e){

          if(e.which === 13) { // return
            auth();
            return false;
          }
        });



        $(document).ready(function(){

          toastr.options = {"closeButton": true, "debug": false,"progressBar": true,"positionClass": "toast-top-right","onclick": null,"showDuration": "300","hideDuration": "1000","timeOut": "5000","extendedTimeOut": "1000","showEasing": "swing","hideEasing": "linear","showMethod": "fadeIn","hideMethod": "fadeOut"}

           for (i = new Date().getFullYear(); i > 1900; i--)
            {
                $('#ano').append($('<option />').val(i).html(i));
            }

        });



        function auth(){

          $("#cpf").addClass("spinner");

          var cpf = $("#cpf").val();
          var dia = $("#dia").val();
          var mes = $("#mes").val();
          var ano = $("#ano").val();

          $.post( "/guest/create_api_caldas", { cpf: cpf, dia: dia, mes: mes, ano: ano })
            .done(function(data){
                if (data == "ok"){
                   toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                   var delay = 6000; //Your delay in milliseconds
                   setTimeout(function(){ window.location = "http://172.1.1.1/login?username=admin&password=sesc123" }, delay);
                }else{

                    $("#msg").html(data);
                    $("#alert").show();
                    $("#msg").scrollTop( 300 );
                    $("#cpf").removeClass("spinner");

                }

            });


        }


      </script>
