<div class="row form-signin" style="margin-bottom: -80px; padding-bottom: 30px; padding-top: 10px; text-align: center; margin-top: 10px;">
    <h5 class="col-lg-12" style="text-align: center;">Olá! Você está conectado a rede <%= params[:ssid] %></h5>

</div>



<form class="form-signin" id="guest" action="">
  <div id="alert" style="display:none;" class="alert alert-block alert-danger fade in">

      <div id="msg"><strong>Ops!</strong> Algo deu errado, tente novamente mais tarde.</div>
  </div>
        <h2 class="form-signin-heading">DOTSPOT</h2>
        <div class="login-wrap">
            <input type="text" id="cpf" name="cpf" data-original-title="Digite sem espaços ou pontuações" data-content="Exemplo: 12312312300" data-placement="top" data-trigger="hover"  class="form-control" placeholder="CPF" maxlength="11" autofocus required>
              <br>
            <input type="text" data-original-title="Digite a DATA conforme exemplo" data-content="Exemplo: 02/10/1964"  maxlength="10"data-placement="top" data-trigger="hover" id="date" name="date" class="form-control" placeholder="DATA DE NASCIMENTO" autofocus required>
             <label class="checkbox">
                <input type="checkbox" id="agree" name="agree" onclick="activeButton();" value="remember-me"> <a data-toggle="modal" href="#myModal2">  Termo de utilização </a>

            </label>

            <!-- <input type="password" class="form-control" placeholder="Senha"> -->


            <div id="button">
            <button class="btn btn-lg btn-login btn-block"  onclick="auth();" id="pulsate-crazy"  type="button">CONECTAR</button>

            </div>
           <!--  <p>or you can sign in via social network</p>
            <div class="login-social-link">
                <a href="index.html" class="facebook">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
                <a href="index.html" class="twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
            </div>
            <div class="registration">
                Don't have an account yet?
                <a class="" href="registration.html">
                    Create an account
                </a>
            </div> -->
             <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Precisa de Ajuda?</a>
                </span>
            </label>
            <br>
        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">TERMO DE UTILIZAÇÃO</h4>
                      </div>
                      <div class="modal-body">
                          <p>TERMO.</p>

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>

                      </div>
                  </div>
              </div>
          </div>

      </form>
