<div class="row form-signin" style="margin-bottom: -80px; padding-bottom: 30px; padding-top: 10px; text-align: center; margin-top: 10px;">
    <h5 class="col-lg-12" style="text-align: center;">Olá! Você está conectado a rede <%= params[:ssid] %></h5>
    <img src="/assets/logo_giraffas.jpg">
</div>



<form class="form-signin" id="guest" action="">
	<div id="alert" style="display:none;" class="alert alert-block alert-danger fade in">

      <div id="msg"><strong>Ops!</strong> Algo deu errado, tente novamente mais tarde.</div>
	</div>
        <h2 class="form-signin-heading">DOTSPOT</h2>
        <div class="login-wrap">
            <input type="text" style="text-transform:lowercase;" id="email" name="email" data-original-title="Digite seu email" data-content="Digite seu email" data-placement="top" data-trigger="hover"  class="form-control" placeholder="Email"  autofocus required>

            <input type="password" data-original-title="Digite sua senha"  data-content="Digite sua senha"  data-placement="top" data-trigger="hover" id="password" name="password" class="form-control" placeholder="Senha"  autofocus required>
            <label class="checkbox">
                <input type="checkbox" id="agree" name="agree" checked="checked" value="remember-me"> <a data-toggle="modal" href="#myModal2">  Termo de utilização </a>
            </label>

            <!-- <input type="password" class="form-control" placeholder="Senha"> -->


            <div id="button">
            <button class="btn btn-lg btn-login btn-block"  onclick="auth();" id="pulsate-crazy"  type="button">CONECTAR</button>

            </div>
           <!--  <p>or you can sign in via social network</p>
            <div class="login-social-link">
                <a href="index.html" class="facebook">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
                <a href="index.html" class="twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
            </div>
            <div class="registration">
                Don't have an account yet?
                <a class="" href="registration.html">
                    Create an account
                </a>
            </div> -->
             <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Precisa de Ajuda?</a>
                </span>
            </label>
            <br>
        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">TERMO DE UTILIZAÇÃO</h4>
                      </div>
                      <div class="modal-body">
                          <p>TERMO.</p>

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>

                      </div>
                  </div>
              </div>
          </div>

      </form>

<script type="text/javascript">

        $(document).ready(function(){
          $("#login").hide();
          $('#create').click(function(){
            $("#login").slideToggle();
          });

          $('#logar').click(function(){
               $("#login").slideToggle();
               $("#cadastro").slideToggle();
          });

          var validator = $( "#guest" ).validate();

        });



        function auth(){

          var str = $("#email").val();
          var res = str.toLowerCase();

          $("#button2").html('<button class="btn btn-lg btn-success btn-block" onclick="auth();" id="pulsate-regular"  type="button">CADASTRAR E CONECTAR...</button>');
          $("#password").addClass("spinner");
          $("#email").addClass("spinner");

          var emailC = $("#email").val();
          var passwordC = $("#password").val();

                  $.post( "/guest/riovermelhocorp", {mac: "<%= params[:mac] %>", email: $("#email").val(), password: $("#password").val()})

                    .done(function( data ) {
                      if(data == 200){

                          toastr.options = {
                          "closeButton": true,
                          "debug": false,
                          "progressBar": true,
                          "positionClass": "toast-top-right",
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                        }
                        $("#alert").hide();
                        toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                        $("#pulsate-crazy").hide();
                        var delay = 6000; //Your delay in milliseconds
                        setTimeout(function(){ window.location = "http://172.1.1.1/login?username="+res+"&password="+passwordC }, delay);


                      }else{

                        $("#msg").scrollTop( 300 );
                        $("#alert").show();
                        $("#msg").html(data);
                        $("#login").slideToggle();

                        $('#button').html('<button class="btn btn-lg btn-login btn-block" onclick="auth();"   type="button">TENTAR NOVAMENTE</button>');

                        $("#password").removeClass("spinner");
                        $("#email").removeClass("spinner");



                      }
                  });

          }


      </script>
