<div class="row form-signin" style="margin-bottom: -80px; padding-bottom: 30px; padding-top: 10px; text-align: center; margin-top: 10px;">
    <h5 class="col-lg-12" style="text-align: center;">Olá! Você está conectado a rede <%= params[:ssid] %></h5>
    <img src="/assets/logo_giraffas.jpg">
</div>



<form class="form-signin" id="guest" action="">
  
        <h2 class="form-signin-heading">DOTSPOT</h2>
        <div class="login-wrap">
          
          <div id="login">
            <div id="alert" style="display:none;" class="alert alert-block alert-danger fade in">
             <div id="msg"><strong>Ops!</strong> Algo deu errado, tente novamente mais tarde.</div>
            </div>
            <input type="text" id="nome" name="nome" data-original-title="Nome" data-content="Exemplo: João Dantas" data-placement="top" data-trigger="hover"  class="form-control" placeholder="NOME" maxlength="41" autofocus required>
              
           
            <input type="text" id="fone" name="fone" data-original-title="Fone" data-content="Tel: 62 3943-4147" data-placement="top" data-trigger="hover"  class="form-control" placeholder="TEL" maxlength="41" autofocus required>

          </div>
          <div id="cadastro">
            <input type="text" id="email" name="email" data-original-title="EMAIL" data-content="Exemplo: meuemail@xxx.com.br" data-placement="top" data-trigger="hover"  class="form-control" placeholder="EMAIL" maxlength="50" autofocus required>
              
            <input type="text"  data-original-title="Voucher" data-content="Exemplo: ABC12345"  maxlength="10" data-placement="top" data-trigger="hover" id="voucher" name="voucher" class="form-control" placeholder="VOUCHER" autofocus required>
             <label class="checkbox">
                <input type="checkbox" id="agree" name="agree" onclick="activeButton2();" value="remember-me" checked="checked"> <a data-toggle="modal" href="#myModal2">  Termo de utilização </a>
                
            </label>
           
            <!-- <input type="password" class="form-control" placeholder="Senha"> -->
           
  </div>

            <div id="button2">

            <button class="btn btn-lg btn-login btn-block"  onclick="authGiraffas();" id="pulsate-crazy"  type="button" >CONECTAR</button>
           
            </div>
          <!--   <p>Você ainda não tem usuário?</p>
             <button class="btn btn-lg btn-warning btn-block"   id="create"  type="button">CADASTRAR</button>
            -->
          
             <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Precisa de Ajuda?</a>
                </span>
            </label>
            <br>
          </div>
        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">TERMO DE UTILIZAÇÃO</h4>
                      </div>
                      <div class="modal-body">
                          <p>TERMO.</p>
                         
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          
                      </div>
                  </div>
              </div>
          </div>

      </form>

      <script type="text/javascript">
        
        $(document).ready(function(){

          toastr.options = {"closeButton": true, "debug": false,"progressBar": true,"positionClass": "toast-top-right","onclick": null,"showDuration": "300","hideDuration": "1000","timeOut": "5000","extendedTimeOut": "1000","showEasing": "swing","hideEasing": "linear","showMethod": "fadeIn","hideMethod": "fadeOut"}

           $("#login").hide(); 
          

           $('#create').click(function(){
               $("#login").slideToggle();  
           });

           $('#logar').click(function(){
               $("#login").slideToggle();
               $("#cadastro").slideToggle();
           });

            var validator = $( "#guest" ).validate();
           
    
        });
        



        function authGiraffas(){

          $("#email").addClass("spinner");
          $("#voucher").addClass("spinner");

          var email = $("#email").val();
          var voucher = $("#voucher").val();

          var emailDown = email.toLowerCase();
          var voucherDown = voucher.toLowerCase();
          
            

            $.post( "/guest/giraffas", {mac: "<%= params[:mac] %>", email: $("#email").val(), tel: $("#fone").val(), nome: $("#nome").val(), voucher: $("#voucher").val() })
            .done(function(data){
                if (data == 200){
                   toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                   var delay = 6000; //Your delay in milliseconds
                   setTimeout(function(){ window.location = "http://172.1.1.1/login?username="+emailDown+"&password="+voucherDown }, delay);
                }else{
                  if(data == 100){

                    $("#button2").html('<button class="btn btn-lg btn-success btn-block" onclick="cadGiraffas();" id="pulsate-regular"  type="button">CADASTRAR E CONECTAR...</button>');
                    $("#msg").html("Não encontramos seu email em nosso cadastro. Por favor, preencha todos os campos.");
                    $("#alert").show();
                    $("#msg").scrollTop( 300 );
                    $("#email").removeClass("spinner");
                    $("#voucher").removeClass("spinner");
                    $("#login").slideToggle();

                  }else{

                    alert(data);
                    $("#email").removeClass("spinner");
                    $("#voucher").removeClass("spinner");

                  }

                  
                }

            });

        }


        function cadGiraffas(){

          var email = $("#email").val();
          var voucher = $("#voucher").val();

          var emailDown = email.toLowerCase();
          var voucherDown = voucher.toLowerCase();
          
            $("#email").addClass("spinner");
            $("#voucher").addClass("spinner");

            $.post( "/guest/cadgiraffas", {mac: "<%= params[:mac] %>", email: $("#email").val(), tel: $("#fone").val(), nome: $("#nome").val(), voucher: $("#voucher").val() })
            .done(function(data){

                if (data == 200){

                   toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                   var delay = 6000; //Your delay in milliseconds
                   setTimeout(function(){ window.location = "http://172.1.1.1/login?username="+emailDown+"&password="+voucherDown }, delay);
                }else{
                  
                    $("#msg").html(data);
                    $("#alert").show();
                    $("#msg").scrollTop( 300 );
                    $("#email").removeClass("spinner");
                    $("#voucher").removeClass("spinner");

                }

            });

        }


      </script>
