<style>
  #login-logo{
    margin-bottom: 1em;
    padding: 1em;
  }

  #container-login{
    background-image: url(<%= image_url (@system_setting.background.present? ? @system_setting.background : 'bg.png') %>);
    height: 100vh;
    background-size: cover;
    }
</style>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <% flash.each do |key, value| %>
      <div class="alert alert-success" role="alert">
        <span class="fa fa-warning" aria-hidden="true"></span>
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
    <% end %>
  </div>
</div>

<form class="form-signin" id="guest" style="margin-top: 10px;" action="">
  
        <h2 class="form-signin-heading">DOTSPOT</h2>
        <div class="login-wrap">
            <%= image_tag (@system_setting.logo.present? ? @system_setting.logo : 'dotspot.png'), class: 'img-responsive center-block', id: 'login-logo' %>

            <% if check_if_is_working_time # O método que checa se está no horário de funcionamento está defino no login_helper %>

              <% if @mac.present? and @mac.user.last_login > (Time.now - 1.day) and not params[:default_login] == 'true' %>
                <div class="row">
                  <div class="col-xs-12">
                    <p>Seja bem-vindo(a) <strong><%= @mac.user.name%></strong>!</p>

                    <button class="btn btn-lg btn-login btn-block"  onclick="auth_mac_present();" id="pulsate-crazy"  type="button">CONECTAR</button>

                  </div>
                  <div class="col-xs-12">
                    <label class="checkbox">
                      <span>
                        <a href="javascript:default_login()">Não é você?</a>
                      </span>
                    </label>
                  </div>
                </div>
              <% else %>
                <div id="alert" style="display:none;" class="alert alert-block alert-danger fade in">

                    <div id="msg"><strong>Ops!</strong> Algo deu errado, tente novamente mais tarde.</div>
                </div>
              <!---------------------- LOGIN ------------------------>
                <input type="email"  id="email" name="email" data-original-title="Digite seu Email" data-content="Digite seu Email" data-placement="top" data-trigger="hover"  class="form-control" placeholder="Email"  autofocus required>
                 <br>
                <input type="password" data-original-title="Digite sua senha"  data-content="Digite sua senha"  data-placement="top" data-trigger="hover" id="password" name="password" class="form-control" placeholder="Senha"  autofocus required>
                <label class="checkbox">
                    <input type="checkbox" id="agree" name="agree" checked="checked" value="remember-me"> <a data-toggle="modal" href="#myModal2">  Termo de utilização </a>
                </label>

                <!-- <input type="password" class="form-control" placeholder="Senha"> -->


                <div id="button">
                <button class="btn btn-lg btn-login btn-block"  onclick="auth();" id="pulsate-crazy"  type="button">CONECTAR</button>
                <% if system_settings.allow_facebook_signup %> <a class="btn btn-lg btn-facebook btn-block" style="background-color: #4267B2; color: #ffffff;box-shadow: 0 4px #3659a0;" href="/auth/facebook">CONECTAR com Facebook</a> <% end %>
                <br>
                <em>Ao conectar com o Facebook você autoriza fazer o checkin no local</em>
              <!---------------------- FIM LOGIN ------------------------>

                <hr>
              <!---------------------- CADASTRO ------------------------>

                <%= link_to 'Cadastrar', guest_cadastro_users_path, class: 'btn btn-lg btn-login btn-block' if @system_setting.allow_guest_self_sign_up  %>

              <!---------------------- FIM CADASTRO ------------------------>


              <!---------------------- CHAMADO / ESQUECEU SENHA ------------------------>

              <div class="row">

                <div class="col-xs-12">
                 <label class="checkbox">
                    <span>
                      <%= link_to 'Abrir chamado técnico', open_technical_calls_path %>
                    </span>

                    <span class="pull-right">
                      <%= link_to 'Esqueceu sua senha?', forgot_password_users_path %>
                      <!--   <a data-toggle="modal" href="#myModal"> Precisa de Ajuda?</a> -->
                    </span>
                </label>
                </div>
              </div>

              <!---------------------- FIM CHAMADO / ESQUECEU SENHA ------------------------>

              <% end %>
              <!-- if @mac.user.present -->

            <% else %>
              <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">
                  <span class="fa fa-warning" aria-hidden="true"></span>
                  Fora do horário de funcionamento.
                </div>
              </div>

            <% end %>
            <!-- if check_if_is_working_time -->

            <div class="clearfix"></div>
            </div>
            <br>
        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="cpf" placeholder="CPF" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                          <button class="btn btn-success" type="button">Enviar</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">TERMO DE UTILIZAÇÃO</h4>
                      </div>
                      <div class="modal-body">
                          <%= @system_setting.terms_and_conditions %>
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>

                      </div>
                  </div>
              </div>
          </div>

      </form>

<script type="text/javascript">

        $(document).ready(function(){
          $("#login").hide();
          $('#create').click(function(){
            $("#login").slideToggle();
          });

          $('#logar').click(function(){
               $("#login").slideToggle();
               $("#cadastro").slideToggle();
          });

          var validator = $( "#guest" ).validate();

        });

        function default_login(){
          var url = window.location.href;
          if (url.indexOf('?') > -1){
             url += '&default_login=true'
          }else{
             url += '?default_login=true'
          }
          window.location.href = url;
        }


        function auth(){

          var cpf = $("#cpf").val();
          // var res = str.toLowerCase();

          $("#button2").html('<button class="btn btn-lg btn-success btn-block" onclick="auth();" id="pulsate-regular"  type="button">CADASTRAR E CONECTAR...</button>');
          $("#password").addClass("spinner");
          $("#email").addClass("spinner");

          var emailC = $("#email").val();
          var passwordC = $("#password").val();

                  $.post( "/guest/novo_login", {mac: "<%= params[:mac] %>", cpf: $("#cpf").val(), email: $("#email").val(),  password: $("#password").val()})

                    .done(function( data ) {

                      console.log(data);
                      if(data.includes("@")){

                        toastr.options = {
                          "closeButton": true,
                          "debug": false,
                          "progressBar": true,
                          "positionClass": "toast-top-right",
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                        }
                        $("#alert").hide();
                        toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                        $("#pulsate-crazy").hide();
                        console.log("Deu certo!")
                        console.log("http://<%= @router.ip %>/login?username=admin&password=admin")
                        var delay = 6000; //Your delay in milliseconds
                        setTimeout(function(){ window.location = "http://<%= @router.ip %>/login?username=admin&password=admin"}, delay);




                      }else{

                        $("#msg").scrollTop( 300 );
                        $("#alert").show();
                        $("#msg").html(data);
                        $("#login").slideToggle();

                        $('#button').html('<button class="btn btn-lg btn-login btn-block" onclick="auth();"   type="button">TENTAR NOVAMENTE</button>');

                        $("#password").removeClass("spinner");
                        $("#email").removeClass("spinner");



                      }
                  });

          }


        <% if @mac.present? %>
          function auth_mac_present(){
            $.post( "/guest/novo_login", {mac: "<%= @mac.mac %>", cpf: "<%= @mac.user.cpf %>", password: "<%= @mac.user.password %>"})
              .done(function( data ) {
                console.log(data);
                if(data.includes("@")){

                  toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                  }
                  $("#alert").hide();
                  toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                  $("#pulsate-crazy").hide();
                  console.log("Deu certo!")
                  console.log("http://<%= @router.ip %>/login?username=admin&password=admin")
                  var delay = 1000; //Your delay in milliseconds
                  setTimeout(function(){ window.location = "http://<%= @router.ip %>/login?username=admin&password=amdin"}, delay);

                }else{

                  $("#msg").scrollTop( 300 );
                  $("#alert").show();
                  $("#msg").html(data);
                  $("#login").slideToggle();

                  $('#button').html('<button class="btn btn-lg btn-login btn-block" onclick="auth();"   type="button">TENTAR NOVAMENTE</button>');


                  $("#password").removeClass("spinner");
                  $("#email").removeClass("spinner");

                }
            });
          }
        <% end %>

      </script>
