<style>
  #login-logo{
    margin-bottom: 1em;
    padding: 1em;
  }

  #container-login{
    background-image: url(<%= image_url (@system_setting.background.present? ? @system_setting.background : 'bg.png') %>);
    height: 100vh;
    background-size: cover;
    }
</style>


<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <% flash.each do |key, value| %>
      <div class="alert alert-success" role="alert">
        <span class="fa fa-warning" aria-hidden="true"></span>
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
    <% end %>
  </div>
</div>

<form class="form-signin" id="guest" style="margin-top: 10px;" action="">
 
        <h2 class="form-signin-heading">DOTSPOT</h2>
        <div class="login-wrap">

            <%= image_tag (@system_setting.logo.present? ? @system_setting.logo : 'dotspot.png'), class: 'img-responsive center-block', id: 'login-logo' %>


            <% if check_if_is_working_time # O método que checa se está no horário de funcionamento está defino no login_helper %>

          <div id="alert" style="display:none;" class="alert alert-block alert-danger fade in">

              <div id="msg"><strong>Ops!</strong> Algo deu errado, tente novamente mais tarde.</div>
          </div>

           <% if system_settings.allow_facebook_signup %> <a class="btn btn-lg btn-facebook btn-block" style="background-color: #4267B2; color: #ffffff;box-shadow: 0 4px #3659a0;" href="/auth/facebook">CONECTAR com Facebook</a> <% end %>
                <br>
                <em>Ao conectar com o Facebook você autoriza fazer o checkin no local</em>
                
                <hr>

              <% if @mac.present? and not params[:default_login] == 'true' %>
                <div class="row">
                  <div class="col-xs-12">
                    <p>Seja bem-vindo(a) <strong><%= @mac.user.name%></strong>!</p>

                    <button class="btn btn-lg btn-login btn-block"  onclick="auth_mac_present();" id="pulsate-crazy"  type="button">CONECTAR</button>

                  </div>
                  <div class="col-xs-12">
                    <label class="checkbox">
                      <span>
                        <a href="javascript:default_login()">Não é você?</a>
                      </span>
                    </label>
                  </div>
                </div>
              <% else %>
              <!---------------------- LOGIN ------------------------>
                <input type="text" id="sobrenome" name="sobrenome" data-original-title="Último Sobrenome" data-content="Último Sobrenome" data-placement="top" data-trigger="hover"  class="form-control" placeholder="Último Sobrenome"  autofocus required>

                <input type="text" id="email" name="email" data-original-title="Seu email" data-content="Seu email" data-placement="top" data-trigger="hover"  class="form-control" placeholder="Seu email"  autofocus required>
               
                <input type="text" data-original-title="Número do Apartamento"  data-content="Número do Apartamento"  data-placement="top" data-trigger="hover" id="apt" name="apt" class="form-control" placeholder="Número do Apartamento"  autofocus required>
                <label class="checkbox">
                    <input type="checkbox" id="agree" name="agree" checked="checked" value="remember-me"> <a data-toggle="modal" href="#myModal2">  Termo de utilização </a>
                </label>

                <!-- <input type="password" class="form-control" placeholder="Senha"> -->


                <div id="button">
                <button class="btn btn-lg btn-login btn-block"  onclick="auth();" id="pulsate-crazy"  type="button">CONECTAR</button>
               
              <div class="row">

                <div class="col-xs-12">
                 <label class="checkbox">
                    <span>
                      <%= link_to 'Abrir chamado técnico', open_technical_calls_path %>
                    </span>

                  
                </label>
                </div>
              </div>

              <!---------------------- FIM CHAMADO / ESQUECEU SENHA ------------------------>

              <% end %>
              <!-- if @mac.user.present -->

            <% else %>
              <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">
                  <span class="fa fa-warning" aria-hidden="true"></span>
                  Fora do horário de funcionamento.
                </div>
              </div>

            <% end %>
            <!-- if check_if_is_working_time -->

            <div class="clearfix"></div>
            </div>
            <br>
        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="cpf" placeholder="CPF" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                          <button class="btn btn-success" type="button">Enviar</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">TERMO DE UTILIZAÇÃO</h4>
                      </div>
                      <div class="modal-body">
                          <%= @system_setting.terms_and_conditions %>
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>

                      </div>
                  </div>
              </div>
          </div>

      </form>

<script type="text/javascript">

        $(document).ready(function(){
          $("#login").hide();
          $('#create').click(function(){
            $("#login").slideToggle();
          });

          $('#logar').click(function(){
               $("#login").slideToggle();
               $("#cadastro").slideToggle();
          });

          var validator = $( "#guest" ).validate();

        });

        function default_login(){
          var url = window.location.href;
          if (url.indexOf('?') > -1){
             url += '&default_login=true'
          }else{
             url += '?default_login=true'
          }
          window.location.href = url;
        }


        function auth(){
          $("#sobrenome").addClass("spinner");
          $("#apt").addClass("spinner");
          $("#email").addClass("spinner");

          var sobrenome = $("#sobrenome").val();
          var apt = $("#apt").val();
          var emailaddress = $("#email").val();
          // var res = str.toLowerCase();

          // $("#button2").html('<button class="btn btn-lg btn-success btn-block" onclick="auth();" id="pulsate-regular"  type="button">CADASTRAR E CONECTAR...</button>');
              if( !validateEmail(emailaddress)) { 

                      
                     alert("Email inválido. Digite um email válido.");
                     $("#sobrenome").removeClass("spinner");
                    $("#apt").removeClass("spinner");
                    $("#email").removeClass("spinner");

              }else{

                 $.post( "/guest/novo_login_pspr", {mac: "<%= params[:mac] %>", sobrenome: $("#sobrenome").val(), apt: $("#apt").val(), email: $("#email").val()})

                        .done(function( data ) {
                          // alert(data);
                          console.log(data);
                          if(data == 200){

                            toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "progressBar": true,
                              "positionClass": "toast-top-right",
                              "onclick": null,
                              "showDuration": "300",
                              "hideDuration": "1000",
                              "timeOut": "5000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                            }
                            $("#alert").hide();
                            toastr.success('Tudo certo! =) Estamos providenciando sua conexão...');
                            $("#pulsate-crazy").hide();
                            console.log("Deu certo!")
                            console.log("http://<%= @router.ip %>/login?username="+data+"&password=dotspot123")
                            var delay = 6000; //Your delay in milliseconds
                            setTimeout(function(){ window.location = "http://<%= @router.ip %>/login?username="+data+"&password=dotspot123"}, delay);

                          }else{

                            $("#msg").scrollTop( 300 );
                            $("#alert").show();
                            $("#msg").html(data);
                            $("#login").slideToggle();

                            $('#button').html('<button class="btn btn-lg btn-login btn-block" onclick="auth();"   type="button">TENTAR NOVAMENTE</button>');

                            $("#sobrenome").removeClass("spinner");
                            $("#email").removeClass("spinner");
                            $("#apt").removeClass("spinner");



                          }
                      });
                
              }

          }

           function validateEmail($email) {
              var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
              return emailReg.test( $email );
            }

      </script>
