

 <div class="modal fade" id="campaign-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="campaign-modal">Campanha</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal tasi-form" >
                                 <div class="row">
                                      <div class="col-xs-12">

                                        <section class="panel">
                                          <div class="panel-heading">
                                            <%= campaign.name %>
                                          </div>

                                          <div class="panel-body">
                                            <div class="row">
                                              <div class="col-xs-12 col-sm-6">
                                                <p>
                                                  <strong>Data de início:</strong>
                                                  <%= campaign.stard_date.strftime("%d/%m/%Y") %>
                                                </p>

                                                <p>
                                                  <strong>Data de término:</strong>
                                                  <%= campaign.end_date.strftime("%d/%m/%Y") %>
                                                </p>

                                                <p>
                                                  <strong>Peso:</strong>
                                                  <%= campaign.weight %>
                                                </p>
                                                <p>
                                                  <strong>Visualizações:</strong>
                                                  <%= campaign.views %>
                                                </p>
                                                <p>
                                                  <strong>Pontos de acesso:</strong>
                                                  <ul>
                                                    <% campaign.routers.each do |r| %>
                                                      <li><%= r.name %></li>
                                                    <% end %>
                                                  </ul>
                                                </p>
                                              </div>
                                              <div class="col-xs-12 col-sm-6">
                                                <%= image_tag campaign.imagem, class: 'img-responsive img-rounded' %>
                                              </div>
                                              <div class="col-xs-12">
                                                <%= link_to 'Editar', edit_campaign_path(campaign), class: 'btn btn-warning' %>
                                                <td>
                                                  <%= link_to 'Aprovar', enable_campaigns_path(id: campaign.id), class: 'btn btn-success', id: 'enable', remote: true unless current_admin.cliente? %>
                                                </td>
                                              </div>
                                            </div>
                                          </div>
                                        </section>

                                      </div>
                                    </div>


                              </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  
              </div>
          </div>
      </div>
  </div>