<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for(@campaign) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :status, as: :select, collection: [['Aguardando aprovação', false], ['Aprovada', true], ['Desativada', nil]], include_blank: false if current_admin.administrador? %>

          <%= f.input :name %>

          <%= f.input :stard_date, as: :string, input_html: { value: @campaign.stard_date.try(:strftime,("%d/%m/%Y"))} %>
          <%= f.input :end_date, as: :string, input_html: { value: @campaign.end_date.try(:strftime,("%d/%m/%Y"))} %>
          <div class="row">
            <%= f.input :credits, hint: 'Número de vezes que esta campanha será veiculada.', wrapper_html: { class: 'col-xs-6'}, input_html: { min: 0, max: current_admin.credit } %>
            <div class="col-xs-6 ">
              <% unless current_admin.administrador? and @campaign.new_record? %>
                <p class="text-success" style="margin-top: 30px"><%= @campaign.new_record? ? current_admin.credit : @campaign.admin.credit %> créditos disponíveis para distribuir</p>
              <% end %>
            </div>
          </div>
          <%= f.input :weight, collection: [[5,5],[4,4],[3,3],[2,2],[1,1]], hint: 'O peso define a quantidade de vezes que esta campanha será exibida em comparação com outras campanhas vigentes. Maior signica mais exibições.', include_blank: false %>

          <%= f.input :default, label: 'Tipo de campanha', as: :radio_buttons, collection: [[' Imagem', 0], [' Vídeo', 1], [' Enquete', 2]] %>

          <%= f.input :imagem, as: :file %>
          <%= f.input :video, label: 'ID Vídeo Youtube' %>

          <%= f.input :quiz_id, collection: current_admin.cliente? ? current_admin.quizzes : Quiz.all, label: 'Enquete', include_blank: false %>


          <%- if controller.action_name == 'new' %>
          <%= f.association :routers, as: :check_boxes, :input_html => { :checked => true } %>
          <%- else %>
          <%= f.association :routers, as: :check_boxes %>
          <% end %>
          
        </div>

        <%= f.input :admin_id, collection: Admin.cliente if current_admin.administrador? %>


        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>

        </div>
         <br>
      <% end %>

    </div>

  </div>

</div>
<script>
  $( function() {
    $("#campaign_stard_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $("#campaign_end_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  } );
</script>
