
<div class="row">
  <div class="col-lg-12">
  <!--work progress start-->
    <section class="panel">
      <div class="panel-heading">
        Campanhas
      </div>
      <div class="panel-body progress-panel">

        <h3> Aguardando aprovação </h3>
        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Data de Início</th>
              <th>Data de término</th>
              <th>Peso</th>
              <th>Pontos de acesso</th>
              <th>Visualizações</th>
               <th>Créditos restantes</th>
              <th>Status</th>
              <th style="width: auto;">Ação</th>
            </tr>
          </thead>

          <tbody>
            <% @campaigns.each do |campaign| %>
                <% if campaign.status == false %>
              <tr >
                <td><%= link_to campaign.id, campaign_path(campaign), remote: true %></td>
               
                <td><%= campaign.name %></td>
                <td><%= campaign.stard_date.strftime("%d/%m/%Y")  unless campaign.stard_date.nil? %></td>
                <td><%= campaign.end_date.strftime("%d/%m/%Y")  unless campaign.end_date.nil? %></td>
                <td><%= campaign.weight %></td>
                <td>
                  <ul>
                    <% campaign.routers.each do |r| %>
                      <li><%= r.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= campaign.views %></td>
                <td>
                  <% if campaign.credits == 0 %>
                    <span class="badge bg-danger">Necessário colocar créditos</span> 
                  <% else %>
                    <span class="badge bg-info"><%= campaign.credits %> restantes</span>
                  <% end %>
                  
                </td>
                <td>
                  <%- if campaign.status == true %>
                    <span class="badge bg-success">Aprovada</span>
                  <% elsif campaign.status == false
                     %>
                    <span class="badge bg-warning">Aguardando aprovação</span>
                    
                  <% else %>
                      <span class="badge bg-danger">Desativada</span>
                  <% end %>
                  
                </td>
                 <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="btn-group">
                 
                    <%= link_to 'Ver', campaign_path(campaign), class: 'btn btn-sm btn-primary', remote: true %>
                    <%= link_to 'Editar', edit_campaign_path(campaign), class: 'btn btn-sm btn-default' %>
                       <%= link_to t('.destroy', :default => t("Desativar")),
                                        disable_campaigns_path(:id => campaign.id),
                                      
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza que deseja desativar a campanha? Não será possível reativá-la.')) },
                                        :class => 'btn btn-sm btn-danger' %>
                  </div>
                </td>

              </tr>
                <% end %>


            <% end %>
          </tbody>
        </table>
        <br>



        <h3> Em veiculação </h3>
        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Data de Início</th>
              <th>Data de término</th>
              <th>Peso</th>
              <th>Pontos de acesso</th>
              <th>Visualizações</th>
               <th>Créditos restantes</th>
              <th>Status</th>
               <th>Ação</th>
            </tr>
          </thead>

          <tbody>
            <% @campaigns.each do |campaign| %>
                <% if campaign.end_date > Date.today and campaign.status == true %>
              <tr >
                <td><%= link_to campaign.id, campaign_path(campaign), remote: true %></td>
               
                <td><%= campaign.name %></td>
                <td><%= campaign.stard_date.strftime("%d/%m/%Y")  unless campaign.stard_date.nil? %></td>
                <td><%= campaign.end_date.strftime("%d/%m/%Y")  unless campaign.end_date.nil? %></td>
                <td><%= campaign.weight %></td>
                <td>
                  <ul>
                    <% campaign.routers.each do |r| %>
                      <li><%= r.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= campaign.views %></td>
                <td><%= campaign.credits %></td>
                <td>
                  <%- if campaign.status == true %>
                    <span class="badge bg-success">Aprovada</span>
                  <% elsif campaign.status == false
                     %>
                    <span class="badge bg-warning">Aguardando aprovação</span>
                    
                  <% else %>
                      <span class="badge bg-danger">Desativada</span>
                  <% end %>
                  
                </td>
                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="btn-group">
                 
                    <%= link_to 'Ver', campaign_path(campaign), class: 'btn btn-sm btn-primary', remote: true %>
                    <%= link_to 'Editar', edit_campaign_path(campaign), class: 'btn btn-sm btn-default' %>
                       <%= link_to t('.destroy', :default => t("Desativar")),
                                        disable_campaigns_path(:id => campaign.id),
                                      
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza que deseja desativar a campanha? Não será possível reativá-la.')) },
                                        :class => 'btn btn-sm btn-danger' %>
                  </div>
                </td>

              </tr>
                <% end %>


            <% end %>
          </tbody>
        </table>
        <br>

        <h3> Encerradas </h3>
        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Data de Início</th>
              <th>Data de término</th>
              <th>Peso</th>
              <th>Pontos de acesso</th>
              <th>Visualizações</th>
              <th>Creditos restantes</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>

          <tbody>
            <% @campaigns.each do |campaign| %>
                <% if campaign.end_date < Date.today and !campaign.status.nil? %>
              <tr >
                <td><%= campaign.id %></td>
                <td><%= campaign.name %></td>
                <td><%= campaign.stard_date.strftime("%d/%m/%Y")  unless campaign.stard_date.nil? %></td>
                <td><%= campaign.end_date.strftime("%d/%m/%Y")  unless campaign.end_date.nil? %></td>
                <td><%= campaign.weight %></td>
                <td>
                  <ul>
                    <% campaign.routers.each do |r| %>
                      <li><%= r.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= campaign.views %></td>
                <td><%= campaign.credits %></td>
                <td>
                  <%- if campaign.status == true %>
                    <span class="badge bg-success">Aprovada</span>
                  <% elsif campaign.status == false
                     %>
                    <span class="badge bg-warning">Aguardando aprovação</span>
                    
                  <% else %>
                      <span class="badge bg-danger">Desativada</span>
                  <% end %>
                  
                </td>
                 <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="btn-group">
                    <%= link_to 'Ver', campaign, class: 'btn btn-sm btn-primary' %>
                    <%= link_to 'Editar', edit_campaign_path(campaign), class: 'btn btn-sm btn-default' %>
                       <%= link_to t('.destroy', :default => t("Desativar")),
                                        disable_campaigns_path(:id => campaign.id),
                                      
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza que deseja desativar a campanha? Não será possível reativá-la.')) },
                                        :class => 'btn btn-sm btn-danger' %>
                  </div>
                </td>

              </tr>
                <% end %>


            <% end %>
          </tbody>
        </table>

 

        <br>

        <h3> Futuras </h3>
        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Data de Início</th>
              <th>Data de término</th>
              <th>Peso</th>
              <th>Pontos de acesso</th>
              <th>Visualizações</th>
              <th>Créditos restantes</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>

          <tbody>
            <% @campaigns.each do |campaign| %>
                <% if campaign.stard_date > Date.today %>
              <tr >
                <td><%= campaign.id %></td>
                <td><%= campaign.name %></td>
                <td><%= campaign.stard_date.strftime("%d/%m/%Y")  unless campaign.stard_date.nil? %></td>
                <td><%= campaign.end_date.strftime("%d/%m/%Y")  unless campaign.end_date.nil? %></td>
                <td><%= campaign.weight %></td>
                <td>
                  <ul>
                    <% campaign.routers.each do |r| %>
                      <li><%= r.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= campaign.views %></td>
                <td><%= campaign.credits %></td>
                <td>
                 <%- if campaign.status == true %>
                    <span class="badge bg-success">Aprovada</span>
                  <% elsif campaign.status == false
                     %>
                    <span class="badge bg-warning">Aguardando aprovação</span>
                    
                  <% else %>
                      <span class="badge bg-danger">Desativada</span>
                  <% end %>
                  
                </td>
                 <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="btn-group">
                    <%= link_to 'Ver', campaign, class: 'btn btn-sm btn-primary' %>
                    <%= link_to 'Editar', edit_campaign_path(campaign), class: 'btn btn-sm btn-default' %>
                       <%= link_to t('.destroy', :default => t("Desativar")),
                                        disable_campaigns_path(:id => campaign.id),
                                      
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza que deseja desativar a campanha? Não será possível reativá-la.')) },
                                        :class => 'btn btn-sm btn-danger' %>
                  </div>
                </td>

              </tr>
                <% end %>


            <% end %>
          </tbody>
        </table>

        <br>

        <h3> Desativadas </h3>
        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Data de Início</th>
              <th>Data de término</th>
              <th>Peso</th>
              <th>Pontos de acesso</th>
              <th>Visualizações</th>
              <th>Creditos restantes</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>

          <tbody>
            <% @campaigns.each do |campaign| %>
                <% if campaign.status.nil? %>
              <tr >
                <td><%= campaign.id %></td>
                <td><%= campaign.name %></td>
                <td><%= campaign.stard_date.strftime("%d/%m/%Y")  unless campaign.stard_date.nil? %></td>
                <td><%= campaign.end_date.strftime("%d/%m/%Y")  unless campaign.end_date.nil? %></td>
                <td><%= campaign.weight %></td>
                <td>
                  <ul>
                    <% campaign.routers.each do |r| %>
                      <li><%= r.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= campaign.views %></td>
                <td><%= campaign.credits %></td>
                <td>
                  <%- if campaign.status == true %>
                    <span class="badge bg-success">Aprovada</span>
                  <% elsif campaign.status == false
                     %>
                    <span class="badge bg-warning">Aguardando aprovação</span>
                    
                  <% else %>
                      <span class="badge bg-danger">Desativada</span>
                  <% end %>
                  
                </td>
                 <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="btn-group">
                    <%= link_to 'Ver', campaign, class: 'btn btn-sm btn-primary' %>
                    <%= link_to 'Editar', edit_campaign_path(campaign), class: 'btn btn-sm btn-default' %>
                       <%= link_to t('.destroy', :default => t("Ativar")),
                                        enable_campaigns_path(:id => campaign.id),
                                      
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza que deseja ativar a campanha?')) },
                                        :class => 'btn btn-sm btn-success' %>
                  </div>
                </td>

              </tr>
                <% end %>


            <% end %>
          </tbody>
        </table>

        <%= link_to 'Nova Campanha', new_campaign_path, class: 'btn btn-primary' %>
        <br><br>
      </div>
    </section>
  </div>
</div>
<div id='campaign-content'></div>


