
<div class="row">
  <div class="col-lg-12">
  <!--work progress start-->
    <section class="panel">
      <div class="panel-heading">
        Nova campanha
      </div>
      <div class="panel-body progress-panel">

      <%= render 'form' %>
      </div>
    </section>
  </div>
</div>
