<script>
  setTimeout(function(){ window.location = "<%= guest_pspr_url %>" }, 5000);
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <img src="/assets/loading.gif" alt="Carregando" class="img-responsive center-block">
      <p>Estabelecendo sua conexão</p>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <%= image_tag @campaign.imagem, class: 'img-responsive center-block' if @campaign.present? %>
    </div>
  </div>
</div>
