<div class="row">
  <div class="col-xs-12">

    <section class="panel">
      <div class="panel-heading">
        <%= @campaign.name %>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <p>
              <strong>Data de início:</strong>
              <%= @campaign.stard_date.strftime("%d/%m/%Y") %>
            </p>

            <p>
              <strong>Data de término:</strong>
              <%= @campaign.end_date.strftime("%d/%m/%Y") %>
            </p>

            <p>
              <strong>Peso:</strong>
              <%= @campaign.weight %>
            </p>
            <p>
              <strong>Visualizações:</strong>
              <%= @campaign.views %>
            </p>
            <p>
              <strong>Pontos de acesso:</strong>
              <ul>
                <% @campaign.routers.each do |r| %>
                  <li><%= r.name %></li>
                <% end %>
              </ul>
            </p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= image_tag @campaign.imagem, class: 'img-responsive img-rounded' %>
          </div>
          <div class="col-xs-12">
            <%= link_to 'Editar Campanha', edit_campaign_path(@campaign), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

