<!-- <script>
  setTimeout(function(){ window.location = "<%= guest_root_url %>" }, 5000);
</script> -->
<script src="https://www.youtube.com/player_api"></script>

<script type="text/javascript">
  $(function() {

  $("#iniciar").hide();

  var current_progress = 0;
  var interval = setInterval(function() {
      current_progress += 10;
      $("#dynamic")
      .css("width", current_progress + "%")
      .attr("aria-valuenow", current_progress)
      .text(current_progress + "% Completo");
      if (current_progress >= 100)
          clearInterval(interval);
  }, 600);
  
  
  setTimeout(iniciar, 6500);


});

function iniciar(){
  $("#iniciar").show();
  $("#progress").hide();
}





</script>


<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <!-- <img src="/assets/loading.gif" alt="Carregando" class="img-responsive center-block"> -->
     <!--  <p>Clique no botão CONECTAR abaixo...</p> -->
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1" style="text-align: center;">

<%- if @campaign.nil? %>

<p>Aguarde. Clique abaixo para iniciar...</p>

<!-- <script>
  setTimeout(function(){ window.location = "<%= guest_root_url %>" }, 2000);
</script> -->

<% else %>

      <%- if @campaign.default == 0 %>
        <!-- <div class="alert alter-warning">Apó</div> -->
        <%= image_tag @campaign.imagem, class: 'img-responsive center-block' if @campaign.present? %>
      
        
      <%- elsif @campaign.default == 1 %>
             <p>Clique para assistir. Você será conectado automaticamente no término do vídeo...</p>
        
            <div id="youtubevideo"></div>
            <script>
                  // create player
                  var youtubevideo;
                  function onYouTubePlayerAPIReady() {
                      youtubevideo = new YT.Player('youtubevideo', {
                        height: '360',
                        width: '100%',
                        videoId: '<%= @campaign.video %>',
                  
                  //Here the video autoplays, the player hide controls and disable keyboard to prevent users from running past the video. NB: Autoplay only works on PCs. iOS 8 also forces Native controls.
                  
                        playerVars:{'rel':0,'showinfo':0,'autoplay':1,'controls':0,'disablekb':1,'modestbranding':1},
                        events: {
                          'onReady': onPlayerReady,
                          'onStateChange': onPlayerStateChange
                        }
                      });
                  }

              function onPlayerReady(event) {
                  event.target.playVideo();
              }
                  //This tells the youtube player to trigger the hello() function when done watching the video
                  
                  function onPlayerStateChange(event) {        
                      if(event.data === 0) {            
                          hello();
                      }
                  }
                  //THe hello function uses ajax to bring up html after the video ends. It is achieved using jquery DOM manupulation
                  function hello(){
                    window.location = "<%= guest_root_url %>"
                  }
              </script>

              <div id="video"></div>

      <%- elsif @campaign.default == 2 %>

          <%- if Vote.where(quiz_id: @campaign.quiz.id).where(mac: session[:mac]).count == 1  %>

         

              <script>

                window.location = "<%= guest_root_url %>";
              </script>

      
            <% else %>


                <p style="margin-top: 20px;">Por favor, responda a enquete para se conectar...</p>

                  <div class="col-lg-12" style="margin-top: 20px;">
                      <div class="panel panel-default">
                          
                          <!-- /.panel-heading -->
                          <div class="panel-body">

                            <h3><%= @campaign.quiz.title %></h3>
                            <br>
                                <div class="table-responsive col-lg-12">
                                  <table class="table table-hover" >
                                    <% @answers.each do |answer| %>
                                      <tr>
                                        <td></td>
                                        <td>
                                          <a href="/campaigns/votes?id=<%= answer.id %>" class="btn btn-default"><%= answer.description %></a>
                                        </td>
                                        <td></td>
                                      </tr>
                                    <% end %>
                                  </table>
                                </div>
                          </div>
                      </div>
                    </div>


            <% end %>

      <%- else %>

         <div class="alert alter-danger">"Ops... Algo deu errado!"</div>

      <% end %>


<% end %>

    </div>


     <div class="col-xs-12" style="text-align: center;">
    <br>
     
    </div>

  </div>
</div>
  <br>
        <div class="progress" id="progress" style="margin-bottom: 5px; height: 30px; margin-top: 5px;">
          <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="current-progress"></span>
          </div>
        </div>
<div class="col-md-12 text-center"> 
<% if @mac.present? %>
  <a id="iniciar" class="btn btn-primary" href="http://<%= @router.ip %>/login?username=admin&password=admin">CONECTAR</a>
<% else %>
  <a id="iniciar" class="btn btn-primary" href="<%= guest_root_url %>">CONECTAR</a>
<% end%>
</div>


