<%= simple_form_for(@vote) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mac %>
    <%= f.input :quiz_id %>
    <%= f.input :answer_id %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
