<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @vote.mac %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @vote.quiz_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @vote.answer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
