<div class="row">
  <div class="col-xs-12">
    <section class="panel">
     

      <div class="panel-body" style="margin-top: -35px;">
        <div class="row state-overview">
              
        <div class="row">
          <div class="col-xs-12 well">
            <%= form_tag reports_devices_path, method: :get do %>
              <div class="row">
                <div class="form-group col-xs-3">
                  <%= label_tag 'Data inicial' %>
                  <%= text_field_tag :start_date, params[:start_date], class: 'form-control', id: 'start_date' %>
                </div>
                <div class="form-group col-xs-3">
                  <%= label_tag 'Data final' %>
                  <%= text_field_tag :end_date, params[:end_date], class: 'form-control', id: 'end_date' %>
                </div>
                <div class="form-group col-xs-3">
                  <%= label_tag 'Campanha' %>
                  <%= select_tag :campaign, content_tag(:option,'Selecione...',:value=>"")+options_from_collection_for_select(@campaign, "id", "name"), class: 'form-control', id: 'campaign' %>
                </div>


                <div class="col-xs-3">
                  <%= submit_tag 'Filtrar', class: 'btn btn-primary btn-filtrar' %>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="col-lg-3 col-sm-3">
                  <section class="panel">
                      <div class="symbol terques">
                          <i class="fa fa-user"></i>
                      </div>

                      <div class="value">
                          <h1 style="font-size: 20px;" class="counter">
                            <%= @requests_total %>
                          </h1>
                          <p>Total de Views</p>
                      </div>
                  </section>
              </div>
              <div class="col-lg-3 col-sm-3">
                  <section class="panel">
                      <div class="symbol blue">
                          <i class="fa fa-male"></i>
                      </div>

                      <div class="value">
                          <h1 style="font-size: 20px;" class="counter">
                            <%= @requests_male %>
                          </h1>
                          <p>Total de Homens</p>
                      </div>
                  </section>
              </div>
              <div class="col-lg-3 col-sm-3">
                  <section class="panel">
                      <div class="symbol yellow">
                          <i class="fa fa-female"></i>
                      </div>

                      <div class="value">
                          <h1 style="font-size: 20px;" class="counter">
                            <%= @requests_female %>
                          </h1>
                          <p>Total de Mulheres</p>
                      </div>
                  </section>
              </div>
              <div class="col-lg-3 col-sm-3">
                  <section class="panel">
                      <div class="symbol red">
                          <i class="fa fa-ban"></i>
                      </div>

                      <div class="value">
                          <h1 style="font-size: 20px;" class="counter">
                            <%= @requests_not %>
                          </h1>
                          <p>Não informaram sexo</p>
                      </div>
                  </section>
              </div>

          </div>
          </div>
               
          <section>
          <div class="col-xs-12" >
            <div class="panel-heading">
              Locais 
            </div>
            <!--custom chart start-->
            <div class="custom-bar-chart" style="display: table; width: 100%;"  >
              <%= bar_chart @requests_location, chart: {
          type: 'bar',
          height: '100%'
          
        } ,plotOptions: {
          bar: {
            barHeight: '100%',
            distributed: true,
            horizontal: true,
            dataLabels: {
              position: 'top'
            }
          }
          
        }, title: 'Requisições por Local', theme: 'palette7',

        yaxis: {
              labels: {
          show: true,
          align: 'right',
          minWidth: 0,
          maxWidth: 200,
          style: {
              colors: [],
              fontSize: '11px',
              fontFamily: 'Helvetica, Arial, sans-serif',
              fontWeight: 300,
              cssClass: 'apexcharts-yaxis-label',
          },
          offsetX: 0,
          offsetY: 0,
          rotate: 0
        
      }
            },

        dataLabels: {
              style: {
      fontSize: '15px',
      colors: ['#000'],
      align: 'right',
      fontFamily: 'Helvetica, Arial, sans-serif',
      fontWeight: 'bold'
  }, offsetX: 35
            }

         %>
              
              
            </div>

            <!--custom chart end-->
          </div>

          </section>
          <section>
          <div class="col-xs-12" style="margin-top: 60px;">
            <div class="panel-heading">
              Gênero dos usuários
            </div>
            <!--custom chart start-->
            <div class="custom-bar-chart" style="display: table;  width: 100%;">
              
              <%= pie_chart @array, theme: 'palette7' %>

            </div>
            
            <!--custom chart end-->
          </div>
          </section>
          <div class="col-xs-12" style="margin-top: 60px;">
            <div class="panel-heading">
              Dispositivos
            </div>

            <!--custom chart start-->
            <div class="custom-bar-chart" style="display: table;  width: 100%;">
              <%= column_chart @devices, theme: 'palette7' %>
            </div>
            <!--custom chart end-->
          </div>
          <div class="col-xs-12">
            <span class="pull-right">
              <p>
                <%= link_to "Baixar CSV", reports_devices_path(format: "csv", start_date: params[:start_date], end_date: params[:end_date]) %>
              </p>
            </span>
            
          </div>
         
        </div>
      </div>
    </section>

  </div>
</div>




<script>
  $( function() {
    $("#start_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $("#end_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  } );
</script>
