<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Sistemas operacioanais
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 well">
            <%= form_tag reports_operating_sistems_path, method: :get do %>
              <div class="row">
                <div class="form-group col-xs-3">
                  <%= label_tag 'Data inicial' %>
                  <%= text_field_tag :start_date, params[:start_date], class: 'form-control', id: 'start_date' %>
                </div>
                <div class="form-group col-xs-3">
                  <%= label_tag 'Data final' %>
                  <%= text_field_tag :end_date, params[:end_date], class: 'form-control', id: 'end_date' %>
                </div>
                <div class="col-xs-3">
                  <%= submit_tag 'Filtrar', class: 'btn btn-primary btn-filtrar' %>
                </div>
              </div>
            <% end %>
            <hr>
          </div>
          <div class="col-xs-12">
              <!--custom chart start-->
              <div class="custom-bar-chart">
                <%= column_chart @devices %>
              </div>
              <!--custom chart end-->
          </div>
          <div class="col-xs-12">
            <span class="pull-right">
              <p>
                <%= link_to "Baixar CSV", reports_operating_sistems_path(format: "csv", start_date: params[:start_date], end_date: params[:end_date]) %>
              </p>
            </span>
          </div>
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" id="dynamic-table">
              <thead>
                <tr>
                  <th>Plataforma</th>
                  <th>Quantidade</th>
                </tr>
              </thead>

              <tbody>
                <% @requests.each do |request| %>
                  <tr>
                    <td><%= request[0] %></td>
                    <td><%= request[1] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  $( function() {
    $("#start_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $("#end_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  } );
</script>
