<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Dispositivos
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-right">
              <p>
                <%= link_to "Baixar CSV", reports_recurring_guests_path(format: "csv", start_date: params[:start_date], end_date: params[:end_date]) %>
              </p>
            </span>
          </div>
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" >
              <thead>
                <tr>
                  <th>Usuário</th>
                  <th>Email</th>
                  <th>Visitas</th>
                </tr>
              </thead>

              <tbody>
                <% @usuarios.each do |obj| %>
                  <tr>
                    <td><%= obj.name %></td>
                    <td><%= obj.email %></td>
                    <td><%= obj.connections %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script>
  $( function() {
    $("#start_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $("#end_date").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  } );
</script>
