<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <div class="panel-heading">
        Requisições Únicas
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 well">
            <%= form_tag reports_unique_guests_path, method: :get do %>
              <div class="row">
                <div class="form-group col-xs-3">
                  <%= label_tag 'Data inicial' %>
                  <%= text_field_tag :start_date, params[:start_date], class: 'form-control', id: 'start_date' %>
                </div>
                <div class="form-group col-xs-3">
                  <%= label_tag 'Data final' %>
                  <%= text_field_tag :end_date, params[:end_date], class: 'form-control', id: 'end_date' %>
                </div>
                <div class="col-xs-3">
                  <%= submit_tag 'Filtrar', class: 'btn btn-primary btn-filtrar' %>
                </div>
              </div>
            <% end %>
            <hr>
          </div>
          <div class="col-xs-12">
            <div class="custom-bar-chart">
              <%= area_chart @graph %>
            </div>
          </div>
          <div class="col-xs-12">
            <span class="pull-right">
              <p>
                <%= link_to "Baixar CSV", reports_unique_guests_path(format: "csv", start_date: params[:start_date], end_date: params[:end_date]) %>
              </p>
            </span>
          </div>
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover" id="dynamic-table">
              <thead>
              <tr>
                <th>Horário</th>
                <th>MAC</th>
                <th>Ponto de Acesso</th>
                <th>SSID da rede</th>
                <th>Platforma</th>
                <th>Dispositivo</th>
                <th>Navegador</th>
              </tr>
              </thead>

              <tbody>
              <% @requests.each do |request| %>
                <tr>
                  <td><%= request.created_at.strftime("%d/%m/%m %H:%M:%S") %></td>
                  <td><%= request.mac %></td>
                  <td><%= request.location %></td>
                  <td><%= request.ssid %></td>
                  <td><%= request.platform %></td>
                  <td><%= request.device %></td>
                  <td><%= request.browser %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= paginate @requests %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
    $(function () {
        $("#start_date").datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $("#end_date").datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
