<!--footer start-->
<footer class="site-footer">
  <div class="text-center">
      2018 &copy; dotSPOT by Dottis Tecnologia.
      <a href="#" class="go-top">
          <i class="fa fa-angle-up"></i>
      </a>
  </div>
</footer>
<!--footer end-->