       <!--header start-->
      <header class="header white-bg">
              <div class="sidebar-toggle-box">
                  <i class="fa fa-bars"></i>
              </div>
            <!--logo start-->

            <a href="/" class="logo"><%= image_tag 'logo-dotspot.png' %></a>

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                      <%= form_tag set_route_form, method: :get do %>
                        <%= select_tag "location", options_from_collection_for_select(Router.all, "location", "location", params[:location]), :prompt => "Todos", class: 'form-control', id: 'location', :onchange => "this.form.submit();" %>
                      <% end %>
                    </li>
                    <% unless current_admin.administrador? %>
                    <li>
                        Saldo: <button type="button" class="btn btn-success"><i class="fa fa-eye"></i> <%= current_admin.credit %></button> 
                    </li>

                    <% end %>
                    <li></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-user"></i>
                            <span class="username"><%= current_admin.email %></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <%- if current_admin.administrador? %>
                            <li><a href="/admins"><i class=" fa fa-suitcase"></i>Usuários</a></li>
                            <%- end %>

                            <li><%= link_to "Sair", destroy_admin_session_path %></li>

                        </ul>
                    </li>
                    <li class="sb-toggle-right">
                        <i class="fa  fa-align-right"></i>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
      <!--header end-->
<%- if current_admin.administrador? %>
 <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a  class="<%= 'active' if params[:controller] == 'static_pages' %>" href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <!--multi level menu start-->
                  <li class="sub-menu">
                      <a  class="<%= 'active' if params[:controller] == 'users' %>" href="/users" >
                          <i class="fa fa-sitemap"></i>
                          <span>Usuários</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/users">Listar Usuários</a></li>
                          <!-- <li><a  href="/users/new">Criar Usuário</a></li> -->
                          <li><a  href="/users/listprofile">Perfis</a></li>
                          <li><a  href="/users/active">Usuários Navegando</a></li>
                          <li><a  href="/users/listmac">MAC's Liberados</a></li>

                          <!-- <li><a  href="/<admin></admin>s">Editar usuário</a></li> -->
                      </ul>

                  </li>
                  <!--multi level menu end-->

<!--                   <li class="sub-menu">
                      <a href="/vouchers" class="<%= 'active' if params[:controller] == 'vouchers' %>" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Vouchers</span>
                      </a>
                       <ul class="sub">
                          <li><a  href="/vouchers">Listar Vouchers</a></li>
                          <li><a  href="/vouchers/list">Vouchers Utilizados</a></li>

                      </ul>

                  </li> -->

                  <!--multi level menu start-->
                  <li class="sub-menu">
                      <a  class="<%= 'active' if params[:controller] == 'campaigns' %>" href="/campaigns" >
                          <i class="fa fa-file"></i>
                          <span>Campanhas</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Listar Campanhas', campaigns_path %></li>
                          <li><%= link_to 'Nova Campanha', new_campaign_path %></li>
                          <li><%= link_to 'Listar Enquetes', quizzes_path %></li>
                          <li><%= link_to 'Nova Enquetes', new_quiz_path %></li>
                      </ul>

                  </li>
                  <li>
                      <%= link_to requests_path, class: "#{'active' if params[:controller] == 'requests' }" do %>
                          <i class="fa fa-laptop"></i>
                          <span>Requisições</span>
                      <% end %>
                  </li>

                  <!--multi level menu start-->
                  <li class="sub-menu">
                      <a  class="<%= 'active' if params[:controller] == 'reports' %>" href="#" >
                          <i class="fa fa-file"></i>
                          <span>Relatórios</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Dispositivos', reports_devices_path %></li>
                          <li><%= link_to 'Horários com mais acessos', reports_times_with_more_hits_path %></li>
                          <li><%= link_to 'Sistema Operacionais', reports_operating_sistems_path %></li>
                          <li><%= link_to 'Visitas recorrentes', reports_recurring_guests_path %></li>
                          <li><%= link_to 'Visitas únicas', reports_unique_guests_path %></li>
                      </ul>

                  </li>
                  <li class="sub-menu">
                      <a href="/admins"  class="<%= 'active' if params[:controller] == 'admins' and ['new_client','clients'].include? params[:action] %>" href="/logers">
                          <i class="fa fa-user"></i>
                          <span>Clientes</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Criar clientes', new_client_admins_path %></li>
                          <li><%= link_to 'Listar clientes', clients_admins_path %></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="/admins"  class="<%= 'active' if params[:controller] == 'admins' and ['index','new'].include? params[:action] %>" href="/logers">
                          <i class="fa fa-user"></i>
                          <span>Administradores</span>
                      </a>
                      <ul class="sub">

                          <li><a  href="/admins/new">Criar usuários</a></li>
                          <li><a  href="/admins">Listar usuários</a></li>
                      </ul>
                  </li>
                  <li>
                      <%= link_to technical_calls_path do%>
                          <i class="fa fa-wrench"></i>
                          <span>SAC - (<%= TechnicalCall.aberto.count %>)</span>
                      <% end %>
                  </li>
                  <li class="sub-menu">
                      <a href="http://www.dottis.com.br/#contactus">
                          <i class="fa fa-comments-o"></i>
                          <span>Ajuda</span>
                      </a>
                  </li>
                  <li>
                      <%= link_to my_system_settings_path do%>
                          <i class="fa fa-cog"></i>
                          <span>Configurações</span>
                      <% end %>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
  <%- elsif current_admin.cliente? %>
 <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <!--multi level menu start-->
                  
                  <li class="sub-menu">
                      <a  class="<%= 'active' if params[:controller] == 'campaigns' %>" href="/campaigns" >
                          <i class="fa fa-file"></i>
                          <span>Campanhas</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Listar Campanhas', campaigns_path %></li>
                          <li><%= link_to 'Nova Campanha', new_campaign_path %></li>
                          <li><%= link_to 'Listar Enquetes', quizzes_path %></li>
                          <li><%= link_to 'Nova Enquetes', new_quiz_path %></li>
                      </ul>

                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
  <%- else %>
   <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a  class="<%= 'active' if params[:controller] == 'static_pages' %>" href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="/vouchers" class="<%= 'active' if params[:controller] == 'vouchers' %>" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Vouchers</span>
                      </a>

                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
<%- end %>
