<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">
  <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

  <title>dotSPOT 3.0 - Dottis Tecnologia</title>
  <% if admin_signed_in? %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% else %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap-reset', media: 'all' %>
   <%= stylesheet_link_tag 'font-awesome/css/font-awesome.min', media: 'all' %>

    <%= stylesheet_link_tag 'style', media: 'all' %>
    <%= stylesheet_link_tag 'style-responsive', media: 'all' %>
    <%# <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> %>
  <% end %>
  <%= javascript_include_tag 'jquery' %>

  <%= javascript_include_tag "loader" %>

  <%= javascript_include_tag 'CPF' %>

  <%= javascript_include_tag 'apexcharts' %>

  <%= csrf_meta_tags %>



  <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body
<% if !admin_signed_in? %> class="login-body"
<% end %> >
<%= content_for :render_async %>
<% if admin_signed_in? %>
  <section id="container">
    <%= render :partial => '/layouts/nav' %>
    <section id="main-content">
      <section class="wrapper">
<% end %>


<!-- Alerts para FLASHES e NOTICES -->

<div class="col-xs-12">
  <div class="row">
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
  </div>
</div>
<!-- Fim Alerts para FLASHES e NOTICES -->

<%= yield %>

<% if admin_signed_in? %>
  </section>
  </section>
  <%- #render :partial => '/layouts/right' %>
  <%= render :partial => '/layouts/footer' %>
  </section>
<% end %>

<%= javascript_include_tag 'application' %>
<% if admin_signed_in? %>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <%= javascript_include_tag 'dynamic_table_init' %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<% else %>
  <%= javascript_include_tag 'bootstrap.min' %>
<% end %>


<% if admin_signed_in? %>
  <script type="text/javascript">
      //owl carousel
      $(document).ready(function () {
          $("#ckbCheckAll").click(function () {
              $(".checkBoxClass").prop('checked', $(this).prop('checked'));
          });

          $("#owl-demo").owlCarousel({
              navigation: true,
              slideSpeed: 300,
              paginationSpeed: 400,
              singleItem: true,
              autoPlay: true

          });

      });
      //custom select box
      $(function () {
          $('select.styled').customSelect();
      });


      // $(window).on("resize",function(){
      //     var owl = $("#owl-demo").data("owlCarousel");
      //     owl.reinit();
      // });

      $('.counter').counterUp();
  </script>
<% end %>
</body>
</html>
