<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <title>dotSPOT 3.0 - Dottis Tecnologia (62) 3943-4147. contato@dottis.com.br</title>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<%= javascript_include_tag 'login'%>
  <body class="login-body">
    <div class="container-fluid" id="container-login">
    	<%= yield %>
    </div>
    <script type="text/javascript">
    	$(document).keypress(function(e) {
		    if(e.which == 13) {
		        auth();
		    }
		});
    	 $().ready(function() {

    	 });



      </script>

  </body>
</html>

