
<% if !notice.nil? %>
<div class="alert alert-block alert-danger fade in">
  <button data-dismiss="alert" class="close close-sm" type="button">
      <i class="fa fa-times"></i>
  </button>
  <%= notice %>
</div>
<% end %>

<div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default" id="filterrific_results">
     	
          <!-- /.panel-heading -->
        <div class="panel-body">
        
        	<%= simple_form_for(@voucher) do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">

			     <%= f.input :time, :collection => [['1 hora', '01:00:00'], ['2 horas', '02:00:00'], ['5 horas', '05:00:00'], ['1 dia', '24:00:00'], ['2 dias', '2d 00:00:00'], ['5 dias', '5d 00:00:00'], ['10 dias', '10d 00:00:00'], ['30 dias', '30d 00:00:00']], include_blank: false, include_hidden: false, label: 'Tempo em minutos' %>
			    <div class="errorTxt"></div>
          <%= f.input :qtd, label: 'Quantidade de Vouchers' %>
			  
			   </div>
         


			  <div class="form-actions">
			    <%= f.button :submit, :class => 'btn btn-success btn-sm' %>
			  </div>
			<% end %>



        </div>
      </div>
    </div>
</div>



