<script>
function print(){
  var conteudo = document.getElementById('print').innerHTML,
  tela_impressao = window.open('about:blank');
  tela_impressao.document.write(conteudo);
  tela_impressao.window.print();
  tela_impressao.window.close();

}



function printed(){

      var url = 'http://<%= request.host %>/vouchers/print';

      $.get(url, function(data){

        //alert("Vouchers gerados com sucesso e prontos para impressão.")
        // window.location = "http://<%= request.host %>:3000/vouchers/print.pdf";

      });

      print();

}
</script>
<div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default" id="filterrific_results">

          <!-- /.panel-heading -->
        <div class="panel-body">
        <%= link_to 'GERAR VOUCHERS', new_voucher_path, :class => 'btn btn-success btn-sm' %>

        <input type="button" class="btn btn-default btn-sm" onclick="printed();" value="IMPRIMIR">


        </div>
      </div>
    </div>
</div>


<div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default" id="filterrific_results">

          <!-- /.panel-heading -->
        <div class="panel-body">
        <div id="print" class="conteudo" >

          <% @vouchers.each do |voucher| %>

              <div style="width: 150px; padding-top: 5px; height: 120px; text-align: center; border-style: dotted; border-width: 1px; float: left;">
              <img src="/assets/logo-sesc.png" style="width: 50%;">
              <div style="font-size: 20px; font-weight: bold; width: 100%;"><%= voucher.number %></div>
              <div style="font-size: 12px; font-style: italic; width: 100%;">Válido por: <%= voucher.time %> hs</div>

              <div style="font-size: 11px; font-style: italic; width: 100%;">www.dotspot.com.br</div>
              </div>

          <% end %>

        </div>
        </div>
      </div>
    </div>
</div>
