

<div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default" id="filterrific_results">
          <div class="panel-body">
            <div class="col-lg-12">
           <h2>Listagem de Vouchers</h2>
            </div>
          <table class="table table-striped table-bordered table-hover col-lg-12" id="dynamic-table">
              <thead>
                  <tr>
                     <tr>
               
                 
                        <th>Número</th>
                        <th>Email</th>
                        <th>Em</th>
                       
                      
                      </tr>
                  </tr>
              </thead>
              <tbody>
                 <% @vouchers.each do |voucher| %>
                    <tr>
               
                      <td><%= voucher.try(:number) %></td>
                      <td><%= voucher.try(:email) %></td>
                      <td><%= voucher.try(:updated_at).strftime("%d/%m/%Y ás %T") %></td>
                  
                     
                    </tr>
                  <% end %>


              </tbody>
          </table>
          <%- #paginate @vouchers %>
        </div>
      
      </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default" id="filterrific_results">
          <div class="panel-body">
            
            <div class="col-lg-10">
           <h2>Quantidade de Vouchers Utilizados por usuários</h2>
            </div>
          <table class="table table-striped table-bordered table-hover" id="dynamic-table">
              <thead>
                  <tr>
                     <tr>
              
                        <th>Email</th>
                        <th>Quantidade de Vouchers Utilizados</th>
                       
                      
                      </tr>
                  </tr>
              </thead>
              <tbody>
                 <% @usados.each do |usado| %>
                    <tr>
               
                      <td><%= usado[0] %></td>
                    
                      <td><%= usado[1] %></td>
                  
                     
                    </tr>
                  <% end %>


              </tbody>
          </table>

        </div>
      
      </div>
    </div>
</div>


<%= bar_chart vouchers_use_path %>





