<p>
  <strong>Number:</strong>
  <%= @voucher.number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @voucher.time %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
